.nomalBtn{
  padding: 5px 16px;
  background: #F2F3F7;
  font-size: 14px;
  color: #61698C;
  border-radius: 1px;
  margin-right: 10px;
  cursor: pointer;
}
.activeBtn{
  background: #E1E7FF;
  color: #244FFF;
}
.tab{
  :global{
    .ant-tabs-bar{
      margin-bottom: 24px;
    }
  }
}
.tjrSelect{
  :global{
    .ant-select-selection__rendered{
      margin-top: 4px;
    }
  }
}