.betweenInput {
  .middleInput {
    &:global(.ant-input-disabled) {
      background-color: #fff !important;
    }
  }
  :global(.m-right-input){
    padding: 0.333rem 0.5rem 0.333rem 0.5rem !important;
  }
  :global(.ant-input-number){
    height: 100% !important;
    float: left;
  }
  :global(.ant-input-number-input-wrap){
    height: 100% !important;
  }
  :global(.ant-input-number-input){
    height: 100% !important;
  }
}
.m_inputNum{
  :global(.ant-input-number-handler-wrap){
    display: none !important;
  }
}
