.dropInClassName2 .ant-select-selection {
    height: 32px;
}
.dropInClassName2 .ant-select-selection ul>.ant-select-selection__choice {
    height: 22px!important;
    color: #1A2243;
}
.dropInClassName2 .ant-select-selection ul li:last-child div{
   
}
.dropInClassName2 .ant-select-selection ul>.ant-select-selection__choice:nth-child(2){
    color: #FF6E30 !important;
    background: #fff !important;
    border: none !important;
    margin-left: 38px !important;
    margin-right: 0 !important;
}
.dropInClassName2 .ant-select-selection ul li>div,.dropInClassName2 .ant-select-selection ul li>span {
    height: 100%;
    line-height: 22px;
}
.hasMultiple ul li {
    color:#1A2243
}
.hasMultiple ul li svg {
    display: none;
}
.hasMultiple ul li i {
    width:15px;
    height: 15px;
    border: 1px solid #959CBA;
}

.hasMultiple ul .ant-select-dropdown-menu-item-selected i {
    width:16px;
    height: 16px;
    background-image: url('../../../../../../assets/newProduct/checked.png');
    background-size: 16px 16px;
    background-position-x: -1px;
}
/* .hasMultiple ul .ant-select-dropdown-menu-item-selected {
    color:#61698C;
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
} */
/* background-image: url('../../../../assets/newProduct/checked.png'); */