.table {
  :global(.ant-table-selection-column) {
    text-align: center !important;
  }
  :global(.ant-table-thead>tr>th) {
    height: 48px !important;
    position: relative;
    background: #F7F8FA !important;
    &:not(:last-child) ::after {
      display:block;
      content: '';
      width: 1px;
      height: calc(100% - 26px);
      background: #E0E2E8;
      position: absolute;
      right: 0;
      top: 13px;
    }
  }
  :global(.ant-table .ant-table-tbody > tr > td) {
    height: 48px !important;
    color: #4B516A;
  }
}