
.tabs{
  :global(.ant-tabs-nav) {
    height: 47px;
    font-size: 14px;
    line-height: 2;
    color: #1A2243;
  }
  :global(.ant-tabs-tab:hover) {
    color: #5779ff;
  }
  :global(.ant-tabs-ink-bar) {
    display: none !important;
  
  }
  :global(.ant-tabs-tab-active) {
    color: #244FFF;
    font-weight: 600;
  }
  :global(.ant-tabs-tab) {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    height: 62px;
  }
}

.tabsInkBar {
  background-color: #244FFF;
  width: 36px;
  height: 2px;
}

.pagination{
  :global(.ant-pagination-item-active){
    background:#244fff !important;
  }
  :global(.ant-pagination-item:hover:not(.ant-pagination-item-active)){
    border-color :#244fff !important;
    a:hover{
      color:#244fff !important;
    }
  }
  :global(.ant-pagination-options){
    :global(.ant-select-selection--single:hover){
      border-color :#244fff !important;
    }
    :global(.ant-pagination-options-quick-jumper){
       input:hover,input:focus{
         border-color :#244fff !important;
         box-shadow: none;
       }
    }
    :global(.ant-select-selection--single:focus){
      border-color :#244fff !important;
      box-shadow: none;
    }

  }
  :global(.ant-pagination-item-link:hover){
      border-color :#244fff !important;
      color:#244fff !important;
  }
}
.border{
  :global(.ant-select-selection--single:hover){
      border-color :#244fff !important;
  }
  :global(.ant-select-selection--single:focus){
      border-color :#244fff !important;
      box-shadow: none;
  }
  :global(.ant-select-selection:hover){
      border-color :#244fff !important;
  }
  :global(.ant-select-arrow){
    top:50% !important;
  }
   :global(.ant-select-selection){
    box-shadow: none !important;
    // border-color: #244fff !important;
  }
  :global(.ant-input:hover){
      border-color :#244fff !important;
  }
  :global(.ant-input:focus){
      border-color :#244fff !important;
      box-shadow: none;
  }

}
.label{
  :global(.ant-row)>div{
     padding-left:0px;
  }
}

.modal{
  :global(.ant-modal-title){
    color:#1a2243;
  }
}
.rdfrom{
  :global(.ant-radio-button-wrapper.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)){
    color: #244FFF !important;
    background: #fff !important
  }
}

.rdfromsele >
    .ant-cascader-picker{
    width: 50% !important;
  }





  