.boxselect{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    .layout{
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 8px 32px 8px 0px;
      min-width: 376px;
      line-height: 20px;
      .label{
          padding-right: 8px;
          width: 94px;
          min-width: 94px;
          text-align: end;
          font-size: 14px;
          font-family: PingFangSC-Regular, PingFang SC;
          font-weight: 400;
          color: #1A2243;
        }
    }
  }