.addbox{
  height: 4.5rem;
  width: auto;
}
.Iform{
  :global(.ant-form-item){
      :global(.ant-form-item-label){
          width: 5.5rem !important;
      }
  }
}
.label {
      :global(.ant-form-item-label){
        width: auto !important;
        min-width: 5.666rem !important;
      }
}
.tagHeight {
  margin-bottom: 0.666rem !important;
  :global(.ant-form-item-control){
    height: auto !important;
  }
}
.m_table {
  :global(.ant-table-scroll table .ant-table-fixed-columns-in-body){
      visibility: visible;
  }
}