.business{
  width: 540px;
  background-color: #fff;
  overflow: hidden;
  .tag{
    margin-top: -15px;
    margin-left: 29px;
    :global(.ant-tag){
      height: 28px;
      font-weight: 400;
      font-size: 14px;
      margin-top: 10px;
      padding: 4px 8px;
      text-align: center;
      line-height: 20px;
      color: #61698C;
      background: #F0F1F5;
      border-radius: 2px;
      border: 0;
    }
  }
}