.mulSelect {
  :global(.ant-select-search__field){
    margin-top: -5px;
  }
  :global(.ant-select-selection--multiple){
    height: 30px;
    min-width: 250px;
    border-radius: 2px;
  }
  :global(.ant-select-selection__rendered){
    line-height: 30px;
    height: 30px;
    li{
      height: 22px !important;
      line-height: 22px !important;
      margin: 0 !important;
      margin-top: 4px !important;
      margin-bottom: 4px !important;
      margin-right: 4px !important;
      color: #1A2243 !important;
    }
  }
  :global(.ant-select-selection__choice){
    /* border: 0 !important;
    background: #FFF !important;
    margin: 0 !important; */
    padding-left: 3px !important;
  }
}