.m_tabs {
  :global(.ant-tabs-nav){
    padding:0 !important;
  }
  :global(.ant-tabs-tab){
    line-height:2rem !important;
    font-size:1.333rem !important;
    padding:0.5rem 1rem !important;
  }
}
.m_rows > div{
  padding-left: 0 !important;
}
