.recentlyVisited_box{
    float: right;
    top: 5rem;
    position: fixed;
    cursor: pointer;
}
.m_link{
    margin: 1rem;
    color: #313131
}
.m_btn{
    border-radius: 4rem;
    line-height: 2rem;
    margin-top: 2px;
    max-width: 110rem;
    // background: rgba(255,255,255,0.9);
    box-shadow:0px 0px 0px 1px #edf1f4   inset;
}
.m_btn_open{
    background: rgba(255,255,255,0.9);
}
.m_btn_close{
    background: rgba(255,255,255,0.4);
}
