.save{
  :global(.ant-checkbox-inner) {
    background-color: white !important;
    border-color: rgba(128, 125, 125, 0.808) !important;
    &:after{
      border: 2px solid #000 !important;
      border-top: 0 !important;
      border-left: 0 !important;
    }
  }
}