.titleBox {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rectangle {
  width: 4px;
  height: 15px;
  margin-right: 4px;
  border-radius: 1px;
  background: #0F8AFF;
}

.titleText {
  font-size: 16px;
  color: #1A2243;
  font-weight: 600;
}

.label {
  font-size: 14px;
  font-weight: 400;
  color: #1A2243;
}

.activeButton {
  color: #244FFF !important;
  border-color: #244FFF !important;
}