@charset "utf-8";

//m-table-icon
.m-table-icon{
  border: 1px solid @head-bg;
  color: @head-bg;

  &:hover{
    border: 1px solid @head-bg;
    background:@head-bg;
    color: #fff;
  }

}
.m-card-icon-box{
  .m-table-icon{
    border: 1.5px solid @head-bg;
    &:hover{
      border: 1.5px solid @head-bg;
    }
  }
}

.m-icon-box-big{
  background: @head-bg;
}