@charset "utf-8";
//新增主色调
.m-color{
	color: @head-bg !important;
}
.m-border-color{
	border-color: @head-bg !important;
}
.bg-mcolor{
	background-color: @head-bg !important;
}
.num-mcolor{
	color: @num-bg;
}
.m-mcolor-link{
	color: @head-bg;
	&:visited,&:hover{
		color: @head-bg;
	}
}
//m-card
.m-card{

	.ant-card-body{
		h3,p{
			margin-bottom: 0;
		}
		.ant-card-meta-detail{
		    .m-view{
		        .m-view-left{
		           a.active{
		             i {
		               color:@head-bg;
		             }
		           }
				}
				.m-view-bottom{
					a{
					  i {
						color:@head-bg;
					  }
					}
				 }
		    }


		    .info{
		        span{
		          color:@head-bg;
		        }
		    }
		}
	}

	&.m-card-sfcp{
    .m-sfcp-text{
			color: @num-bg;
			text-shadow: 0 .416rem .833rem @num-bg-tm;
    }
	}

	.m-card-icon-box{
		a:hover{
			color: @head-bg;
		}
	}

	.m-product-card-cont{
		.m-product-card-info{
			.m-profit{
				color: @num-bg;
				text-shadow: 0 0.416rem 0.833rem @num-bg-tm;
			}
		}
	}

}


//default-bottom
.card-theme{
	 .ant-card-body{
	   background: @head-bg;
	 }
}
.card-theme-two{
	.ant-card-body{
	background: @blue-pink;
	}
}

.theme-default{
	.ant-card-head {
	    background: @head-bg;
	}
}

.theme-pink{					//2018.3.14
	.ant-card-head {
	    background: @blue-pink;
	}
}


//m-rate-show
.m-rate-show{
	border:2px solid @head-bg;
}

.m-icon-box-big{

	&.white-icon-bg{

		i{

			color: @blue-pink;
		}

	}
}

//.m-row-bg
.m-row-bg{
		background: @head-bg;
}

.m-phone-item{
  color: @head-bg;
}

.m-task-icon-switch{
  &:hover{
    background: @head-bg;
    border-color: @head-bg;
  }
}

.m-hsts-bg{
	background: @hover-bg;
}

.m-top-link-mcolor{
  color: @head-bg;
  &:hover{
    color: @head-bg;
  }
}
.m-card-cjhkh{
	.ant-card-body{
		.m-cjhkh-actions{
      li{
        >a:hover{
          color: @head-bg;
        }
      }
    }
	}
}

.m-card-cjhkh{
	.ant-card-body{
		.m-add-box{
			.m-add-link:hover{
				color: @head-bg;
			}
		}
	}
}

.m-browse-box {
  .m-link {
    color: @head-bg;
  }
}
.m-service-handle{
  background-color: @tag-bg;
}

.m-record-list{
	>li{
		.m-cont:hover{
			color: @head-bg;
		}
	}
}

.m-mot-head-bg {
  &.m-fabu-head-bg{
    background-image: url("../../assets/theme/@{path}/img1.png");
  }

  img {
    max-width: 100%;
  }
}

.m-tc-btn-box{
	.m-btn-link{
		color: @head-bg;
	}
}

.m-form-link{
  color: @head-bg;
  &:visited{
    color: @head-bg;
  }
}

//新客户全景-20200610
.m-ktyw-square{
  &.square-blue{
    background-color: @head-bg;
  }
  &.square-blue-border{
    background-color: @hover-bg2;
    border-color: @head-bg;
  }
}
.m-ktyw-list{
  .m-ktyw-item{
    &.item-blue{
      background-color: @head-bg;
      border-color: @head-bg;
    }
    &.item-blue-border{
      border-color: @head-bg;
      color: @head-bg;
      background-color: @hover-bg2;
    }
  }
}

.m-sy-card{
	.ant-card-body{
		background-color:@hover-bg;
	}
}

//新产品
.m-xcp-title{
  border-color: @head-bg;
}

.m-fwxq-tck{
	box-shadow: 0 0 .333rem rgba(85, 169, 223, 0.3);
	border-radius: .333rem;
}