@charset "utf-8";

//list-footer-left
.list-footer-left{
    a{
      span{
        color: @head-bg;
      }
    }
    .list-drop{
       background: @head-bg;
    }

}

//m-list-table
.m-list-table{

  &.ant-list{

      .ant-list-item{

          &:hover,
          &.active{
              //border: 2px solid @head-bg;
              background-color: @hover-bg;
              .ant-list-item-meta-avatar{
                  .ant-avatar{
                      background: @head-bg;
                  }
              }
          }
      }
  }

}

//m-list-tab-info
.m-list-tab-info{
    &.ant-list{
        .ant-list-item{
            &.active{
                .ant-list-item-meta{
                    background: @hover-bg;
                }
            }
        }
    }
}

.m-listItem {
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
  border-top: 0;
  border-bottom: 0 !important;

  .ant-list-item-meta-title {
    margin-bottom: 0;
  }

  &:hover {
    //background-color: @hover-bg;
    color: @head-bg;

    .ant-list-item-meta-title {
      color: @head-bg;
    }

    a, a:active, a:hover, a:visited {
      color: @head-bg;
    }
  }

  &.active {
    background-color: @hover-bg !important;
    //border-left: 2px solid @head-bg;
    color: @head-bg;
    .font-wb();

    .ant-list-item-meta-title {
      color: @head-bg;
      .font-wb();
    }

    a, a:active, a:hover, a:visited {
      color: @head-bg;
    }
  }
}

//m-list-info
.m-list-info{
  &.ant-list{
    .ant-list-item{
      &:hover,
      &.active{
              background:@hover-bg;
              .ant-list-item-meta-title{
                a{
                  color:@hover;
                  font-weight: 600 !important;
                }
              }
              p.content{
                color:@hover;
                font-weight: 600 !important;
              }
      }
    }
  }
  &.m-list-gkfx{
    &.ant-list{
      .ant-list-item{
        &:before{
          color: @head-bg;
        }
      }
    }
  }
}


.m-list-icon.ant-list .ant-list-item .ant-list-item-meta-avatar i {
  color: @head-bg;
}

//m-product-list-info
.m-product-list-info{
  >li{
    .m-product-list-title{
        a:hover{
            color: @head-bg;
        }
    }
    &:hover{
      background: @hover-bg;
      .m-product-list-title{
        a{
          color: @head-bg;
        }
      }
    }
  }
}
.m-list-border-spot{
  &.ant-list{
    .ant-list-item{
      &:hover,&.active{
        background: @hover-bg;
        .m-spot{
          border-color:@head-bg;
        }
        .ant-list-item-content{
          >div{
              color:@hover;
          }
        }
        .ant-list-item-meta-title{
          color: @hover;
          a{
            color: @hover;
            font-weight: 600;
          }
        }
      }
    }
  }
}

.m-home-set-list{
  li{
    i{
      color: @head-bg;
    }

    .ant-switch-checked {
      background-color: @head-bg;
    }
  }
}

// ant-select-dropdown-menu
.ant-select-dropdown-menu{
  .ant-select-dropdown-menu-item{
    &.ant-select-dropdown-menu-item-selected{
      a{
        color:@head-bg !important;
      }
    }

  }
}


  //20200707
  .m-list-title{

    h2{
        span{
            background: @head-bg;
        }
    }

    .m-list-title-item{
      &:hover{
        a{
          color:@head-bg;
          text-decoration: underline;
        }
      }
    }

  }