@charset "utf-8";

//m-tabs-block
.m-tabs-block{
    >.ant-tabs-bar{
        .ant-tabs-nav{
            .ant-tabs-tab {
                    background:@head-bg;
                }

                .ant-tabs-tab-active:after{
                    .triangle(top,@w:8px,@color:@head-bg)
                }

        }
    }
    &.noIcon{
        >.ant-tabs-bar{
            .ant-tabs-nav{
                background:@head-bg;
            }
        }
    }

}


//m-tabs-underline
.m-tabs-underline{

    .ant-tabs-nav {
        .ant-tabs-tab{
            &:hover{
                color:@head-bg;
            }
        }
        .ant-tabs-tab-active{
            border-bottom:0.2rem solid @hover;
            color:@head-bg;
            font-weight: 600;
            a{
                color:@head-bg;
            }
            .m-spot{
                &:before{
                    background-color:  @head-bg;
                }
            }
        }
    }
    .m-tabs-underline-second{
        .ant-tabs-tab-active{
            border-bottom:0;
        }
    }
}

//m-tabs-underline-second
.m-tabs-underline-second{
    .ant-tabs-nav {
        .ant-tabs-tab{
            &:hover{
                color:@head-bg;
            }
        }
        .ant-tabs-tab-active{
            color:@head-bg;
        }
    }
}

.m-tabs-underline-thrid{
  .ant-tabs-nav {
      .ant-tabs-tab{
          &:hover{
              color:@head-bg;
          }
      }
      .ant-tabs-tab-active{
          border-bottom:2px solid @head-bg;
          color:@head-bg;
          a{
              color:@head-bg;
          }
          .m-spot{
              &:before{
                  background-color:  @head-bg;
              }
          }
      }
      .m-tabs-underline-second{
          .ant-tabs-tab-active{
              border-bottom:0;
          }
      }
  }
}

//m-tabs-underline2
.m-tabs-underline2{

    .ant-tabs-nav {
        .ant-tabs-tab{
            &:hover{
                color:@head-bg;
            }
        }
        .ant-tabs-tab-active{
            border-bottom:4px solid @head-bg;
            color:@head-bg;
        }
    }
}


//m-tabs-arrow
.m-tabs-arrow{
    .ant-tabs-bar{
        border-bottom:1px solid @head-bg;
    }
    .ant-tabs-nav{
        .ant-tabs-tab-active{
            color:@head-bg;
        }
        .ant-tabs-tab-active:after{
            .triangle(top,@w:6px,@color:@head-bg)
        }
    }

}

//m-radio-group
.m-radio-group{

   &.ant-radio-group{
        .ant-radio-button-wrapper:hover, .ant-radio-button-wrapper-focused{
            color:@head-bg;
        }
        .ant-radio-button-wrapper-checked{
            border-color: @head-bg;
            color: @head-bg;
            box-shadow: -1px 0 0 0 @head-bg;
        }
        .ant-radio-button-wrapper-checked:first-child {
            border-color: @head-bg;
            box-shadow: none !important;
        }
        .ant-radio-button-wrapper-checked::before{
            background-color: @head-bg !important;
        }
    }

}

//m-radio-group
.m-product-radio-group{
    &.ant-radio-group{
        .ant-radio-button-wrapper:hover, .ant-radio-button-wrapper-focused{
            color:#fff;
            background:@head-bg;
            border-color: @head-bg;
        }
        .ant-radio-button-wrapper-checked{
            border-color: @head-bg;
            background:#eaf4fe;
            color:@head-bg;
            box-shadow: -1px 0 0 0 @head-bg;
        }
        .ant-radio-button-wrapper-checked:first-child {
            border-color: @head-bg;
            box-shadow: none !important;
        }
        .ant-radio-button-wrapper-checked::before{
            background-color: @head-bg !important;
        }
    }
}

.m-jrcp-tabs .ant-tabs-ink-bar{
    background-color: @head-bg;
}
.m-jrcp-tabs .ant-tabs-nav .ant-tabs-tab:hover {
    color: @head-bg;
}
.m-jrcp-tabs .ant-tabs-nav .ant-tabs-tab-active{
    color: @head-bg;
    border-bottom-color: @head-bg;
}

.ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
    color: @head-bg;
}

//数字营销
.m-top-tabs{
    &.ant-tabs{
        .ant-tabs-tab{
            &:hover{
                color: @head-bg;
            }
            &.ant-tabs-tab-active{
                background-color: @head-bg;
            }
        }
    }
}

//竖直方向
.m-tabs-ver{
    &.ant-tabs{
        .ant-tabs-tab{
            &:hover{
                color: @head-bg;
            }
        }
    }
}

//新数字营销
.m-zxr-tabs{
    &.ant-tabs{
        .ant-tabs-tab{
            &:hover{
                color: @head-bg;
            }
        }
        .ant-tabs-tab-active{
            background-color: @head-bg;
        }
    }
}
.m-tabs-sec{
    &.m-tabs-sec-lhbd{
        .ant-tabs-tab{
            &.ant-tabs-tab-active{
                color: @head-bg;
            }
        }
    }
}

// m-tab-box
.m-tab-box{
  .m-tab-box-item{
    &.active{
      border-bottom: 0.2rem solid @head-bg;
      color:@hover;
    }
  }
}


// m-tabs-vertical
.m-tabs-vertical{
    &.ant-tabs{
      .ant-tabs-tab-active{
        background: @hover-bg;
        color: @hover
      }
      .ant-tabs-left-bar {
        .ant-tabs-ink-bar {
            background-color: @head-bg;
            width:0.25rem;
          }
      }
      .ant-tabs-right-bar {
        .ant-tabs-ink-bar {
            background-color: @head-bg;
            width:0.25rem;
          }
      }

    }
  }

  // m-tabs-img
.m-tabs-img{
    &.ant-tabs{
      .ant-tabs-bar{
        .ant-tabs-tab{
          &.ant-tabs-tab-active{
            .m-fund-name{
              color: @hover;
            }
          }
        }
      }
    }
  }

  //多菜单tabs切换
.m-tabs-nav{
    &.ant-tabs{
      .ant-tabs-extra-content{
        .m-tabs-nav-link{
          &:hover{
            color: @head-bg;
          }
        }
      }

      .ant-tabs-tab-prev.ant-tabs-tab-arrow-show,.ant-tabs-tab-next.ant-tabs-tab-arrow-show{
        &:hover{
          color: @head-bg;
        }

      }

      .ant-tabs-nav{
        .ant-tabs-tab{
          &:hover{
            color: @head-bg
          }
        }
        .ant-tabs-tab-active{
          background-color: @level10;
          color: @head-bg;
          a{
              font-weight: 600;
              color: @head-bg;
          }
        }
      }
    }
  }