@charset "utf-8";

//m-panel
.m-panel{

    .ranking-list{
        .firstLine{
            .more{
                background:@head-bg;
            }
        }

    }
}

// 客户画像生命周期
.m-center-smzq{
  left: 2%;
  top: 0% !important;
  z-index: 3;
  width: 200px !important;
  height: 200px;
  background: @head-bg; //根据背景来定
  margin: 100px auto;
  border-radius: 50%;
  text-align: center;
  line-height: 180px;
}

