.eAnxiButtonS {
  padding: 0 6px;
  height: 32px;
  color: #1a2243;
  border-radius: 2px;
  font-size: 14px;
  background: #ffffff;
  border: 1px solid #d1d5e6;
  &:hover {
    background: #ffffff;
    color: #5a7bff;
    border: 1px solid #5a7bff;
  }
  &:focus {
    background: #ffffff;
    color: #244fff;
    border: 1px solid #244fff;
  }
  &:disabled {
    color: #c0c0c0;
    background: #f7f7f7;
    border: 1px solid #e2e2e4;
  }
  &:disabled:hover {
    color: #c0c0c0;
    background: #f7f7f7;
    border: 1px solid #e2e2e4;
  }
}
