.m_table{
  :global(.ant-table-thead > tr:first-child > th){
    background: #f3f4f7;
  }
}
.pagination{
  :global(.ant-pagination-item-active){
    background:#244fff !important;
  }
  :global(.ant-pagination-item:hover:not(.ant-pagination-item-active)){
    border-color :#244fff !important;
    a:hover{
      color:#244fff !important;
    }
  }
  :global(.ant-pagination-options){
    :global(.ant-select-selection--single:hover){
      border-color :#244fff !important;
    }
    :global(.ant-pagination-options-quick-jumper){
       input:hover,input:focus{
         border-color :#244fff !important;
         box-shadow: none;
       }
    }
    :global(.ant-select-selection--single:focus){
      border-color :#244fff !important;
      box-shadow: none;
    }

  }
  :global(.ant-pagination-item-link:hover){
      border-color :#244fff !important;
      color:#244fff !important;
  }
}
.label{
  :global(.ant-col){
    :global(.ant-form-item-label){
      text-align: center;
      width: 8rem;
      :global(label) {
        line-height: 20px;
      }
     }
  }
}
.border{
  :global(.ant-select-selection--single:hover){
      border-color :#244fff !important;
  }
  :global(.ant-select-selection--single:focus){
      border-color :#244fff !important;
      box-shadow: none;
  }
  :global(.ant-select-selection:hover){
      border-color :#244fff !important;
  }
  :global(.ant-select-arrow){
    top:50% !important;
  }
   :global(.ant-select-selection){
    box-shadow: none !important;
    // border-color: #244fff !important;
  }
  // :global(.ant-select-focused){
  //   border-color: #244fff !important;
  // }
  :global(.ant-input:hover){
      border-color :#244fff !important;
  }
  :global(.ant-input:focus){
      border-color :#244fff !important;
      box-shadow: none;
  }
}
.select {
  :global(.ant-select-arrow) {
    &::after {
      content: '' !important;
    }
    :global(.ant-select-arrow-icon) {
      display: block !important;
      position: relative;
      top: -1px;
      font-size: 16px;
    }
  }
}
.searchSelect {
  &:hover {
    :global(.ant-select-arrow) {
      &::after {
        content: '' !important;
      }
      :global(.ant-select-arrow-icon) {
        display: none !important;
        position: relative;
        top: -1px;
        font-size: 16px;
      }
    }
  }
}

.org {
  :global(.ant-form-item-control-wrapper) {
    width: 70%;
  }
}