.button {
  color: #1A2243;
  border-color: #D1D5E6;
  &:hover {
    color: #244FFF !important;
    border-color: #244FFF !important;
  }
}

.activeButton {
  color: #244FFF !important;
  border-color: #244FFF !important;
}