.eAnxiButton {
  padding: 0 24px;
  height: 42px;
  color: #ffffff;
  border-radius: 2px;
  font-size: 16px;
  background: #244fff;
  border: none;
  &:hover {
    background: #5a7bff;
    color: #ffffff;
  }
  &:focus {
    background: #1e43d9;
    color: #ffffff;
  }
  &:disabled {
    color: #c0c0c0;
    background: #f7f7f7;
    border: 1px solid #e2e2e4;
  }
  &:disabled:hover {
    color: #c0c0c0;
    background: #f7f7f7;
    border: 1px solid #e2e2e4;
  }
}

.eAnxiButtonM {
  padding: 0 23px;
  height: 42px;
  color: #244fff;
  border-radius: 2px;
  font-size: 16px;
  background: #ffffff;
  border: 1px solid #244fff;
  &:hover {
    color: #244fff;
    border: 1px solid #244fff;
    box-shadow: 0 0 0.5px 1px #d1d5e6;
  }
  &:focus {
    color: #1e43d9;
    border: 1px solid #1e43d9;
  }
  &:disabled {
    color: #c0c0c0;
    background: #f7f7f7;
    border: 1px solid #e2e2e4;
  }
  &:disabled:hover {
    color: #c0c0c0;
    background: #f7f7f7;
    border: 1px solid #e2e2e4;
  }
}
