.activeLegend {
  border: 1px solid #D1D5E6;
  border-radius: 16px;
  background: #FFF;
  color: #244FFF;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.legend {
  border: 1px solid transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divider {
  width: .5px;
  height: 20px;
  background: #D1D5E6;
}

.number {
  font-size: 20px;
  line-height: 28px;
}

.tag {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 86px;
  height: 28px;
  border-radius: 1px;
  margin-right: 10px;
  border: 1px solid #D1D5E6;
  color: #61698C;
}

.activeTag {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 86px;
  height: 28px;
  border-radius: 1px;
  margin-right: 10px;
  background: rgba(255, 110, 48, 0.04);
  border: 1px solid #FFBFA3;
  color: #FF6E30;
}

.triangle {
    position: absolute;
    top: 28px;
    width: 5px;
    height: 5px;
    border: 1px solid #959CBA;
    transform: rotate(45deg);
    background: #FFF;
    border-left: transparent;
    border-top: transparent;
    z-index: 2;
}

.message {
    position: absolute;
    top: 35px;
    width: 1px;
    height: 9px;
    border-right: 1px dashed #EF5A3C;
    z-index: 2;
}