.table {
  :focus {
    outline: none;
  }

  :global {
    .ant-pagination {
      padding: 2rem 1.5rem;
      text-align: right;
    }
    .load-more {
      padding: 1.5rem;
      height: auto;
    }
  }
}
