@font-face {
  font-family: EssenceSansStd-Regular;//自定义字体名称
  src: url(../../../../assets/fonts/EssenceSansStd-Regular.ttf)
}
.yiXuanZhong{
  font-size: 18px;
font-family: PingFangSC-Medium, PingFang SC;
font-weight: 700;
color: #244FFF;

}
.weiXuanZhong{
  font-size: 18px;
font-family: PingFangSC-Regular, PingFang SC;
font-weight: 400;
color: #1A2243;
}
.myTabBar{
  background-color: #244FFF;
}
.tabFather{
  padding-left: 24px;
  padding-right: 24px;
  //background-color: antiquewhite !important;
  :global{
    .ant-tabs-ink-bar-animated{
      width: 36px !important;
    height: 2px !important;
    margin-left: 50px;
    display: block !important;
    transform: translateY(-5px);
    background-color: #244FFF;
    }
   
  }
}
