@charset "utf-8";

//m-btn
.m-btn {

    &.ant-btn{
        border: 1px solid transparent;
        white-space: nowrap;
        padding: 0 1.25rem;
        .border-radius(@radius:4.333rem);
        height: 3rem;
        color: @font-color;
        background-color: #fff;
        border-color: @border-btn-color;
        .font-s16();
    }


    &.ant-btn:focus,
    &.ant-btn:hover{
        background-color: #fff;
        border-color: @border-btn-color;
        color: @font-color;
    }

    &.m-btn-small{
        min-width:7rem;
        padding: 0 1.25rem;
        height: 2.5rem;
        .font-s14();
        &.ant-btn:focus,
        &.ant-btn:hover{
            background-color: #fff;
        }
    }

    &.m-btn-big{
        padding: 0 3rem;
        height: 3.5rem;
        .font-s18();

        &.ant-btn:focus,
        &.ant-btn:hover{
            background-color: #fff;
        }

    }

    &.m-btn-pink{
        background:@pink;
        color:#fff;
        border:1px solid @pink;

        &.ant-btn:focus,
        &.ant-btn:hover{
            background: @pink;
            opacity: 0.75;
            color:#fff;
            border:1px solid @pink;
        }

    }
    &.m-btn-blue{
        color:#fff;
        background:@blue;
        border:1px solid @blue;

        &.ant-btn:focus,
        &.ant-btn:hover{
            color:#fff;
            background:@blue;
            border:1px solid @blue;
            opacity: 0.75;
        }

    }
    &.m-btn-orange{
        background:@orange;
        color:#fff;
        border:1px solid @orange;

        &.ant-btn:focus,
        &.ant-btn:hover{
            background:@orange;
            color:#fff;
            border:1px solid @orange;
            opacity: 0.75;
        }

    }

}

//m-btn-border
.m-btn-border {

    &.ant-btn{
        border: 1px solid @border-btn-color;
        white-space: nowrap;
        //数字营销
        //padding: 0 1.333rem;
        padding: 0 1rem;
        //新数字营销
        height: 2.666rem;
        color: @font-color;
        .font-s14();
        .border-radius(@radius:0.166rem);
        overflow: hidden;
        z-index: 0;
    }

    &.m-btn-small{
        min-width:4rem;
        padding: 0 1.25rem;
        height: 2.5rem;
        .font-s14();
        &.ant-btn:focus,
        &.ant-btn:hover{
            background-color: #fff;
        }
    }

    &.m-btn-middle{
        min-width:4rem;
        padding: 0 1.25rem;
        height: 2.833rem;
        .font-s14();
        &.ant-btn:focus,
        &.ant-btn:hover{
            background-color: #fff;
        }
    }

    &.m-btn-big{
        padding: 0 1.666rem;
        height: 3.166rem;
        .font-s16();

        &.ant-btn:focus,
        &.ant-btn:hover{
            background-color: #fff;
        }

    }

    &.m-btn-fillet{
        .border-radius(@radius:0.333rem;);
        padding: 0 1rem;
        height: 2.75rem;
        .font-s14();
    }

    //跟踪评价
    &.m-btn-icon{
        width: 2.166rem;
        height: 2.166rem;
        padding: 0;
        .tc();
        .font-s16();
        &.m-text{
            .font-s14();
        }
    }

    //新数字营销
    &.m-btn-circle{
        .border-radius(1.5rem);
        padding: 0 1.333rem;
        min-width: 6.666rem;
    }

    &.m-btn-white{
        color:#fff;
        border:1.5px solid #fff;
        background: none;
        height: 3rem;
        min-width: 8.75rem;
    }

    //工作台-新增
    &.m-btn-border-white{
        color:#fff;
        border-color: rgba(255,255,255,0.6);
        background: none;
        &.ant-btn:focus,
        &.ant-btn:hover{
            border-color: rgba(255,255,255,1);
        }
    }

    &.m-btn-border-pink{
        color:@pink;
        border:1px solid @pink;

        &.ant-btn:focus,
        &.ant-btn:hover{
            color:@pink;
            border:1px solid @pink;
        }

    }
    &.m-btn-border-blue{
        color:@blue;
        border:1px solid @blue;

        &.ant-btn:focus,
        &.ant-btn:hover{
            color:@blue;
            border:1px solid @blue;
        }

    }
    &.m-btn-border-orange{
        color:@orange;
        border:1px solid @orange;

        &.ant-btn:focus,
        &.ant-btn:hover{
            color:@orange;
            border:1px solid @orange;
        }

    }
    &.m-btn-border-violet{
        color:@violet;
        border:1px solid @violet;

        &.ant-btn:focus,
        &.ant-btn:hover{
            color:@violet;
            border:1px solid @violet;
        }

    }

    &.m-btn-pink{
        background:@pink;
        color:#fff;
        border:1px solid @pink;

        &.ant-btn:focus,
        &.ant-btn:hover{
            background: @pink;
            opacity: 0.75;
            color:#fff;
            border:1px solid @pink;
        }

    }
    &.m-btn-blue{
        color:#fff;
        background:@blue;
        border:1px solid @blue;

        &.ant-btn:focus,
        &.ant-btn:hover{
            color:#fff;
            background:@blue;
            border:1px solid @blue;
            opacity: 0.75;
        }

    }
    &.m-btn-orange{
        background:@orange;
        color:#fff;
        border:1px solid @orange;

        &.ant-btn:focus,
        &.ant-btn:hover{
            background:@orange;
            color:#fff;
            border:1px solid @orange;
            opacity: 0.75;
        }

    }

    &.m-btn-gray{
        background:@btn-lightGray;
        color:@font-color;
        border:1px solid @btn-lightGray;

        &.ant-btn:focus,
        &.ant-btn:hover{
            background:@arrow-box-bg;
            color:@font-color;
            border:1px solid @arrow-box-bg;
        }

    }

    &.btn-1c{

        &.m-btn-border{

            &:after{
                width: 0%;
                height: 100%;
                top: 0;
                left: 0;
            }

            &:hover{
                   color:#fff;

                &:after{

                    color:#fff;
                    width: 100%;
                }

            }

        }

        &.m-btn-white{

            &:after{
                background: #fff;
            }

            &:hover{

                   background: #fff;
                   border:1.5px solid #fff;
                   color: @blueDark !important;

                &:after{
                    background: #fff;
                }
            }
        }

        &.m-btn-border-violet{

            &:after{
                background: @violet;
            }

            &:hover{

                   background: @violet;
                   border:1px solid @violet;

                &:after{
                    background: @violet;
                }

            }

        }

        &.m-btn-border-blue{

            &:after{
                background: @blue;
            }

            &:hover{

                   background: @blue;
                   border:1px solid @blue;

                &:after{
                    background: @blue;
                }

            }

        }
        &.m-btn-border-orange{

            &:after{
                background: @orange;
            }

            &:hover{

                   background: @orange;
                   border:1px solid @orange;

                &:after{
                    background: @orange;
                }

            }

        }
        &.m-btn-border-pink{

            &:after{
                background: @pink;
            }

            &:hover{

                   background: @pink;
                   border:1px solid @pink;

                &:after{
                    background: @pink;
                }

            }

        }

    }

    &.fcbtn{

        .pos(r);
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;

        &:after {
            content:'';
            .pos(a);
            z-index: -1;
            -webkit-transition: all .3s;
            -moz-transition: all .3s;
            transition: all .3s;
        }
    }

}


//m-btn-radius
.m-btn-radius {

    i{
        .font-s16();
    }

    &.ant-btn{
        border: 1px solid transparent;
        white-space: nowrap;
        padding: 0 1.25rem;
        height: 2.666rem;
        color: @font-color;
        background-color: #fff;
        border-color:@border-btn-color;
        .font-s14();
        .border-radius(@radius:0.166rem);
        margin-right:0.666rem;
        overflow: hidden;
        font-family: @all-family;

        &:hover, &:focus{
            opacity: 0.8;
            color:@font-color;
            border-color: @border-btn-color;
        }

        &:last-child{
            margin-right:0;
        }

    }
    &.m-hollow-pink{
        color:@pink;
        border:1px solid @pink;
        margin-right: 0;
        &:focus,&:hover,&.active{
            border:1px solid @pink;
            background-color: @pink;
            color: #fff;
            opacity:1;
        }
        &:focus{
            border:1px solid @pink;
            background-color: #fff;
            color: @pink;
            opacity:1;
        }
    }
    &.m-btn-full{
        width: 100%;
        .font-s16();
    }

    &.m-btn-radius-small{
        padding: 0 1rem;
        height: 2.166rem;
    }

    &.m-btn-radius-big{
        .font-s16();
        height: 3.333rem;

    }

    //数字营销-20190411
    &.m-btn-radius-mid{
        height: 3.5rem;
        .font-s16();
        padding: 0 2rem;
    }

    &.m-btn-radius-search{
        .font-s18();
        height: 4.25rem;
        width: 100%;
    }

    &:hover,
    &.active{
      background-color: #fff;
      color: @blue;
      border-color: @blue;
    }

    &.m-btn-pink{
        background:@pink;
        color:#fff;
        border:1px solid @pink;

        &.ant-btn:focus,
        &.ant-btn:hover{
            background:@pink;
            color:#fff;
            border:1px solid @pink;
            opacity: 0.75;
        }

    }
    &.m-btn-red{
        background:@red;
        color:#fff;
        border:1px solid @red;

        &.ant-btn:focus,
        &.ant-btn:hover{
            background:@lightred;
            color:#fff;
            border:1px solid @lightred;
            opacity: 1;
        }

    }
    &.m-btn-blue{
        color:#fff;
        background:@blue;
        border:1px solid @blue;

        &.ant-btn:focus,
        &.ant-btn:hover{
            color:#fff;
            background:@blue;
            border:1px solid @blue;
            opacity: 0.75;
        }

    }
    &.m-btn-orange{
        background:@orange;
        color:#fff;
        border:1px solid @orange;

        &.ant-btn:focus,
        &.ant-btn:hover{
            background:@orange;
            color:#fff;
            border:1px solid @orange;
            opacity: 0.75;
        }

    }
    &.m-btn-purple{
      background:#ff76f7;
      color:#fff;
      border:1px solid #ff76f7;

      &.ant-btn:focus,
      &.ant-btn:hover{
          background:#ff76f7;
          color:#fff;
          border:1px solid #ff76f7;
          opacity: 0.75;
        }
    }

    &.m-btn-gray{
        background:@form-input-bg;
        color:@font-color;
        border:1px solid @border-btn-color;

        &.ant-btn:hover{
            color: @red;
            border:1px solid @red;
            opacity: 1;

        }

    }
    //工作台-新增
    &.m-btn-gcyan{
        background: -webkit-linear-gradient(right,#2ef8cf,#65cdf8);
        background: -o-linear-gradient(right, #2ef8cf,#65cdf8);
        background: -moz-linear-gradient(right,#2ef8cf,#65cdf8);
        background: -mos-linear-gradient(right,#2ef8cf,#65cdf8);
        background: linear-gradient(to left,#2ef8cf,#65cdf8);
        color:#2f84ff;
        border:0;

        &.ant-btn:focus,
        &.ant-btn:hover{
            color:#2f84ff;
            opacity: 0.75;
        }
    }

    &.m-btn-pink-line{
        color:@pink;
        border:1px solid @pink;

        &.ant-btn:focus,
        &.ant-btn:hover{
            background:@pink;
            color:#fff;
            border:1px solid @pink;
            opacity: 0.75;
        }

    }
    &.m-btn-blue-line{
        color:@blue;
        border:1px solid @blue;

        &.ant-btn:focus,
        &.ant-btn:hover{
            color:#fff;
            background:@blue;
            border:1px solid @blue;
            opacity: 0.75;
        }

    }
    &.m-btn-orange-line{
        color:@orange;
        border:1px solid @orange;

        &.ant-btn:focus,
        &.ant-btn:hover{
            background:@orange;
            color:#fff;
            border:1px solid @orange;
            opacity: 0.75;
        }

    }

    &.btn-1c{

        &.ant-btn{


          &:after{
              background: @blue;
          }

          &:hover{

               background: @blue;
               border:1px solid @blue;
               color:#fff;

             &:after{
               background: @blue;
               color:#fff;
               width: 100%;
             }

          }


        }

        &:after {
            .pos(a);
            width: 0;
            height: 100%;
            top: 0;
            left: 0;
        }
    }

    &.fcbtn{
        .pos(r);
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;

        &:after {
            content: '';
            .pos(a);
            z-index: -1;
            -webkit-transition: all .3s;
            -moz-transition: all .3s;
            transition: all .3s;
        }
    }

    &.m-btn-block{
        width: 100%;
    }

    &.m-btn-disable{
        background-color: @disabled-bg !important;
        color: @disabled-font !important;
        border-color: @disabled-border !important;
        &:hover{
            opacity: 1 !important;
        }
    }

}

//m-btn-tag
.m-btn-tag {

    &.ant-btn{
        border: 1px solid @btn-tag-border;
        white-space: nowrap;
        padding: 0 0.833rem;
        height: 2.166rem;
        color:@tag-color;
        background-color: @btn-tag;
        .font-s13();
        .border-radius(@radius:2.333rem);
        cursor: inherit;
        background-clip: padding-box;

        &:focus,
        &:hover{
            color:@tag-color;
            background-color: @btn-tag;
            border: 1px solid @btn-tag-border;
            background-clip: padding-box;
        }
    }

    &.m-btn-radius-small{
       padding: 0 0.5rem;
       height: 1.666rem;
       line-height: 1.416rem;
       .font-s11();
    }

    &.m-btn-tag-red{
        color:@tag-red-color;
        background-color: @btn-tag-red;
        border:1px solid @tag-red-color;

        &.ant-btn:focus,
        &.ant-btn:hover{
            color:@tag-red-color;
            background-color: @btn-tag-red;
            border:1px solid @tag-red-color;
        }

    }
    &.m-btn-tag-blue{
        color:@tag-blue-color;
        background-color: @btn-tag-blue;
        border:1px solid @tag-blue-color;

        &.ant-btn:focus,
        &.ant-btn:hover{
            color:@tag-blue-color;
            background-color: @btn-tag-blue;
            border:1px solid @tag-blue-color;
        }

    }
    &.m-btn-tag-orange{
        color:@tag-orange-color;
        background-color: @btn-tag-orange;
        border:1px solid @tag-orange-color;

        &.ant-btn:focus,
        &.ant-btn:hover{
            color:@tag-orange-color;
            background-color: @btn-tag-orange;
            border:1px solid @tag-orange-color;
        }

    }

    &.m-btn-tag-violet{
        color:@tag-violet-color;
        background-color: @btn-tag-violet;
        border:1px solid @tag-violet-color;

        &.ant-btn:focus,
        &.ant-btn:hover{
            color:@tag-violet-color;
            background-color: @btn-tag-violet;
            border:1px solid @tag-violet-color;
        }

    }

    &.m-btn-tag-yellow{
        color:@tag-yellow-color;
        background-color: @btn-tag-yellow;
        border:1px solid @tag-yellow-color;

        &.ant-btn:focus,
        &.ant-btn:hover{
            color:@tag-yellow-color;
            background-color: @btn-tag-yellow;
            border:1px solid @tag-yellow-color;
        }

    }

    &.m-btn-tag-line-orange{
        color:@orange;
        background-color: #fef9f7;
        border:1px solid @orange;

        &.ant-btn:focus,
        &.ant-btn:hover{
            color:@orange;
            background-color: #fef9f7;
            border:1px solid @orange;
        }
    }

    &.m-btn-tag-line-gray{
        color:@light-gray;
        background-color: @textarea2;
        border:1px solid @light-gray;

        &.ant-btn:focus,
        &.ant-btn:hover{
            color:@light-gray;
            background-color: @textarea2;
            border:1px solid @light-gray;
        }
    }

    &.m-btn-tag-green{
        color:#fff;
        background-color: @green;
        border:1px solid @green;

        &.ant-btn:focus,
        &.ant-btn:hover{
            color:#fff;
            background-color: @green;
            border:1px solid @green;
        }

    }

    &.m-btn-tag-gray{
        color:#fff;
        background-color: @btn-gray;
        border:1px solid @btn-gray;

        &.ant-btn:focus,
        &.ant-btn:hover{
            color:#fff;
            background-color: @btn-gray;
            border:1px solid@btn-gray;
        }

    }

}

.m-top-btn-list{
    padding: 0 2.083rem 1rem;
    border-bottom: 1px solid @border-color;
}

//数字营销
.m-btn-szyx{
    &.ant-btn-lg{
        .font-s15();
        height: 3.333rem;
        .iconfont{
            .font-s15();
            padding-right: .416rem;
        }
    }
    &.m-btn-blue{
        background-color: #eef6fc;
        color: @blue;
        border-color: #b0e1fc;
    }
}
//新数字营销
.m-zxr-scroll-btn{
    .pos(a);
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    .tc();
    border-radius: 50%;
    background-color: rgba(0,0,0,0.1);
    z-index: 1;
    top: 7.5rem;
    -webkit-transition: all .3s cubic-bezier(.645, .045, .355, 1);
    transition: all .3s cubic-bezier(.645, .045, .355, 1);
    &:hover{
        background-color: rgba(0,0,0,0.2);
    }
    >.iconfont{
        .font-s36();
        color: #fff;
    }
    &.m-btn-left{
        left: -4rem;
    }
    &.m-btn-right{
        right: -4rem;
    }
}


