@charset "utf-8";

//m-drawer
.m-drawer{
	.ant-drawer-header{
		border-bottom-color: @border-color;
		padding: 1.166rem 1.666rem;
	}
	.ant-drawer-title{
		color: @title-color;
	}
	.ant-drawer-close{
		width: 4.166rem;
		height: 4.166rem;
		line-height: 4.166rem;
	}
	.ant-drawer-body{
		padding: 0;
	}
	.ant-drawer-body{
		padding: 0;
	}
	.m-drawer-footer{
		position: absolute; 
		left: 0px; 
		bottom: 0px; 
		width: 100%; 
		border-top: 1px solid @border-color;; 
		padding: 1rem 1.666rem;
		background: #fff; 
		text-align: right;
	}
}


