@charset "utf-8";

//m-icon-box
.m-icon-box{
   .fl();
   width:3rem;
   height:3rem;
   background:@blue;
   .border-radius(@radius:6.5rem);
   line-height:3.25rem;
   .tc();
   .dib();
   color:#fff !important;
   margin-right:0.666rem;
   i{
      .font-wb();
      .font-s22();
   }
}

.m-icon-box-big{
  width:5.333rem;
  height:5.333rem;
  background:@blue;
  .border-radius(@radius:8rem);
  line-height:5.333rem;
  .dib();
  .tc();
  color:#fff;
  i{
    .font-s36();
  }
}

.m-icon-box-small{
  width:4rem;
  height:4rem;
  background:@blue;
  .border-radius(@radius:8rem);
  line-height:4rem;
  .db();
  .tc();
  color:#fff;
  margin:1rem auto;
  i{
    .font-s24();
  }
}

.pink-icon-bg{
  background:@pink;
}



//m-table-icon

.m-table-icon{
  .border-radius(@radius:4rem);
  width: 2.333rem;
  height: 2.333rem;
  line-height: 2.333rem;
  .font-s13();
  .dib();
  text-align: center;
  margin-right:0.666rem;
  transition: all .5s;

  &.pink{

    border:1px solid @pink !important;
    color: @pink !important;

    &:hover{
      background: @pink !important;
      border:1px solid @pink !important;
      color: #fff !important;
    }

  }

  &.orange{

    border:1px solid @orange !important;
    color: @orange !important;

    &:hover{
      background: @orange !important;
      border:1px solid @orange !important;
      color: #fff !important;
    }

  }
  &:last-child{
    margin-right: 0;
  }
}

//m-right-icon
.m-right-icon{
    .tr();
    line-height: 2.25rem;
    .font-s0();

    a{
      margin-right: 2rem;
      color:@blue;

      &:last-child{
        margin-right: 0;
      }

      &.blue{
        color:@blue;
        opacity: 0.6;
      }
      &.blueDark{
        color:@blueDark;
        opacity: 0.7;
      }
      &.orange{
        color:@orange;
        opacity: 0.6;
      }

      &:hover{
        &.blue{
          opacity:1
        }
        &.blueDark{
          opacity:1
        }
        &.orange{
          opacity: 1;
        }
      }

    }

}
//m-icon-gg
.m-icon-gg{
  .pos(a);
  top: -0.916rem;
  width: 1.5rem;
  height: 2.666rem;
  background: url(../assets/m-icon-gg.png)  no-repeat center center;
  background-size: contain;
  z-index: 100;
  margin:0 auto;
  &.m-icon-gg-right{
    right:3rem;
  }
  &.m-icon-gg-left{
    left:3rem;
  }
}

//m-rate
.m-rate{

  &.ant-rate{
    color:@orange;
    .font-s0();
    margin-left: .166rem;
    margin-right: 0;
    line-height: 1;

    .ant-rate-star{
      .font-s16();
      margin-right: 0.083rem;
    }

  }
}

.text-icon{
  display: inline-block;
  width: 1.666rem;
  height: 1.666rem;
  line-height: 1.416rem;
  .border-radius(1rem);
  border:1.5px solid @pink;
  color: @pink;
  .font-s12();
  font-style: normal;
  .tc();
}


// m-application
.m-application{
  .tc();
  margin: 0.666rem 0;
  .dis-fx();
  .alc();
  .flex-direction();
  cursor: pointer;
  .m-application-icon{
    width:3.5rem;
    height: 3.5rem;
    line-height:1;
    .tc();
    .border-radius(3.5rem);
    background: #ddd;
    border:1px solid #eee;
    .dis-fx();
    .alc();
    color:#fff;
    i{
      .font-s20();
    }
    &.blue{
        color:@tag-blue-color !important;
        background-color: @btn-tag-blue;
        border:1px solid @tag-blue-color;
    }
    &.violet{
      color:@tag-violet-color;
      background-color: @btn-tag-violet;
      border:1px solid @tag-violet-color;
    }
    &.yellow{
      color:@tag-yellow-color;
      background-color: @btn-tag-yellow;
      border:1px solid @tag-yellow-color;
    }
    &.orange{
      color:@tag-orange-color !important;
      background-color: @btn-tag-orange;
      border:1px solid @tag-orange-color;
    }
    &.red{
      color:@tag-red-color;
      background-color: @btn-tag-red;
      border:1px solid @tag-red-color;
    }
  }
  .name{
    .font-s13();
    color:@font-color;
    .db();
    padding-top:0.416rem;
  }

  &.m-application-big{
    .m-application-icon{
      width:5rem;
      height: 5rem;
    }
  }
}