@charset "utf-8";

.ant-modal {
    font-family: @all-family;
    .ant-modal-content{
        .border-radius(2px);
    }
}

.ant-modal-wrap {
  overflow: auto;
}

//m-modal
.m-modal-mask{
    background-color: rgba(0, 0, 0, 0.5)
}

.m-modal-wrap{

    overflow: hidden;

    .ant-modal-content {
        .border-radius(2px);
        -webkit-box-shadow:none;
        box-shadow: none;
        .ant-modal-close,.m-modal-enlarge {

            right:1.5rem;

            .ant-modal-close-x {
                width:auto;
                height: 4.333rem;
                line-height: 4.333rem;
                .font-s20();

            }

        }
        .m-modal-enlarge{

            .ant-modal-close-x{

                &:before {
                    content: "\e71c";
                    font-family: "iconfont" !important;
                }
            }
        }

        .ant-modal-header {
            padding:1.25rem 2rem;
            .border-radius(@radius:0);
            background: #fff;
            color: @title-color;
            border-color: @border-color;

            .ant-modal-title {
                .font-s18();
                line-height:1.833rem;
                color: @title-color;
            }

        }

        .ant-modal-body{
            padding: 0;
        }

        // .ant-modal-footer {

        //     .tc();

        // }


    }

}
.scroll{
    overflow-y: auto;
    overflow-x: hidden;
    // max-height: 42rem;
}

.m-confirm{
    .ant-btn-primary{
        float: left;
        margin-right: 8px
    }
}
//弹出框的字体
.ant-modal-body{
    .ant-modal-confirm-body {
        .ant-modal-confirm-title{
            color: @title-color;
        }
        .ant-modal-confirm-content{
            color: @view-color;
        }
    }
}
