@charset "utf-8";

//m-popover style
.m-popover{

	&.ant-popover{

		.ant-popover-title{
			padding: 0 1.5rem;
		}

		.ant-popover-inner-content{
			padding:0.833rem;
		}
	}

	&.m-popover-width{
		width: 64rem;
	}

	&.m-popover-big{

		width: 75%;

		&.ant-popover{

			.ant-popover-inner-content{
				padding:2.333rem;
			}
		}
	}

}

//m-ant-popover
.m-ant-popover{
	&.ant-popover{
		.ant-popover-arrow{
			border-top: 1px solid @blue;
			border-left: 1px solid @blue;
		}
		.ant-popover-inner{
			border: 1px solid @blue;
			border-radius: 1rem;
			.ant-popover-inner-content{
				padding:0.25rem 1rem;
				p{
					.font-s12();
					color:@blue;
					white-space: nowrap;
				}
			}

		}

	}

}

.m-task-popover-cont{
	font-family: @all-family;
	color: @title-color;
	.font-s14();
	line-height: 1.6;
}

// 20200810
.fma-inst-right-content {
    box-shadow: 0 2px 8px rgba(0,0,0,.15);
    margin: 0rem;
    padding: 1.166rem;
}

.fma-inst-arrow {
    color: #fff;
    width: 15px;
    height: 15px;
    margin-left: -1.5rem;
    border-width: 7.5px;
    border-color: transparent transparent #fff #fff;
	box-shadow: -3px 3px 7px rgba(0,0,0,.07);
	position: absolute;
	display: block;
	top: 50%;
	margin-top: -0.416rem;
    width: 0.833rem;
    height: 0.833rem;
    background: transparent;
    border-style: solid;
    border-width: 4.24264069px;
    -ms-transform: rotate(45deg);
	transform: rotate(45deg);
}