@charset "utf-8";

//progress
.m-progress-warp{

    padding-bottom: 1rem;

    .m-progress-name{
        line-height: 1.5rem;
        .m-progress-name-left{
            .font-s16();
            .font-wb();
            .fl();
            color:@title-color;
        }
        .m-progress-name-right{
            .font-s14();
            .font-wn();
            .fr();
            color:@view-color;

        }
    }

    .m-progress{
        &.ant-progress{
            line-height: 0;
            .ant-progress-bg {
                border-radius: 0px;
                background-color: @blue;
                position: relative;
                height: 0.416rem !important
            }
            .ant-progress-inner {
                border-radius: 0px;
            }
            
        }

        &.ant-progress-status-exception{
            .ant-progress-bg {
                background-color: @pink;
            }
        }
        &.ant-progress-status-success{
             .ant-progress-bg {
                background-color: @green;

            }
        }
        &.ant-progress-status-orange{
             .ant-progress-bg {
                background-color: @orange;

            }
        }

    }

    //新数字营销
    &.m-zxr-progress-warp{
        width: 40%;
        .dib();
        padding: 0 0 0 1rem;
        .m-progress{
            .ant-progress-text{
                .font-s14();
                color: @title-color;
            }
        }
    }

}

//m-progress-status-exception 2018-03-14
.m-progress-status-exception{

    &.ant-progress-status-exception{

        .ant-progress-bg {
            background-color: @pink;
        }

        .ant-progress-text{
            .fl();
            line-height: 2rem;
            color: @pink;
            margin-right: .666rem;
        }

    }

}


.m-progress-default{
    .ant-progress-inner{
        background: #E7E7E7;
        .ant-progress-success-bg, .ant-progress-bg{
            background: @blue;
            height: 0.2rem !important;
        }
        
    }
    &.ant-progress-status-success{
        .ant-progress-bg {
            background-color: @tag-blue-color;
        }
        .ant-progress-text{
            color: @tag-blue-color;
        }
    }
}
