@charset "utf-8";

//m-prompt
.m-prompt{
	margin: 2rem 1.5rem 0rem 1.5rem;
	border:1px solid #00a0e9;
	background:#d3ecf7;
 	color:#2daae4;
	.pos(r);
	.border-radius(@radius:0.25rem);

 	.prompt-drop{
		.pos(r);
		.border-radius(@radius:0.5rem);
		top: -0.166rem;
		margin:0 0.25rem 0 1rem;
 		background: #00a0e9;
 		width:0.5rem;
 		height:0.5rem;
 		display: inline-block;
 	}
 	.prompt-content{
 		.font-s16();
 		line-height:1.333rem;
 		padding:0 1rem 0 0;
 		margin:1rem 1rem 1rem 0;
 		border-right:1px solid #00a0e9;
 		display: inline-block;
 	}
 	a{
 		color:#00a0e9;
 	}
}


