@charset "utf-8";

/*m-steps-ant*/
.m-steps-ant{
    &.ant-steps {
        padding:1.666rem 0 !important;
        margin-bottom: 0.666rem;

        .ant-steps-item-process .ant-steps-item-icon > .ant-steps-icon .ant-steps-icon-dot {
            background: @blue;
        }
        .ant-steps-item-process > .ant-steps-item-content > .ant-steps-item-title {
            color: @blue;
            font-weight: bold;
        }
    } 
}

//商机跟踪
.m-steps-sjgz{
  &.ant-steps{
      .ant-steps-item-container{
        .ant-steps-item-tail{
          top:30px;
          &::after{
              background: url(../assets/commercialPanorama/sjgz-line-bg.png) repeat-x;
          }
        }
        .ant-steps-item-icon{
          width: 64px;
          height: 64px;
          .ant-steps-icon-dot{
              background: transparent;
          }
        }
        .ant-steps-item-content{
          margin-left: 32px;
          .ant-steps-item-title{
              font-size: 1.167rem;
              .font-wb();
              // color: #54a9df;
          }
        }
      }
  }
}
