@charset "utf-8";

//m-tag-small
.m-tag-small {

    &.ant-tag{
        color:@font-color;
        line-height: 2rem;
        height: 2.166rem;
        padding: 0 0.75rem;
        margin-right: .666rem;
        .font-s14();
        white-space: normal;
        transition: all .5s;
        .border-radius(2rem);
        background: @form-input-bg;
        border:1px solid @form-input-bg;
        font-family: @all-family;


        .icon-close-small {
            .font-s12();
            color:#fff;
            margin-left:0.5rem;
        }

        .ant-tag-text{
            >span{
               white-space: nowrap;
               overflow: hidden;
               text-overflow: ellipsis;
               max-width: 8rem;
               .dib();
               .fl();
            }
        }

    }
    &.ant-tag-checkable{
        &:not(.ant-tag-checkable-checked):hover {
            color: #fff;
        }
    }

}

//m-tag-popup
.m-tag-popup {

        &.ant-tag{
            vertical-align:top;
            color:@font-color;
            line-height: 2rem;
            height: 2.166rem;
            padding: 0 0.5rem;
            margin-right: 0.666rem;
            margin-bottom: 0.75rem;
            .font-s13();
            white-space: normal;
            transition: all .5s;
            .border-radius(0.333rem);
            background-color: #fff;
            border:1px solid @border-color;
            font-family: @all-family;
            &:focus,
            &:hover{
                color:@tag-violet-color !important;
                background-color: @btn-tag-violet;
                border:1px solid @tag-violet-color;
            }
            &.m-tag-add{
                .ant-tag-text{
                    .fl();
                    padding:0 1rem;
                    i{
                        .font-s18();
                    }
                }

            }
            &.m-tag-add-input{
                border:1px solid;
                overflow: hidden;
                .pos(r);
                input{
                    .fl();
                }
                .m-tag-add-input-right{
                    color:#fff;
                    padding: 0.083rem 0.75rem 0.083rem 0.5rem;
                    border-top-right-radius: 2rem;
                    border-bottom-right-radius: 2rem;
                    top:-1px;
                    right:-1rem;
                    .fr();
                    .dib();
                    .pos(r);
                }
            }
            &.m-tag-blue{
                color:@tag-blue-color;
                background-color: @btn-tag-blue;
                border:1px solid @tag-blue-color;
                .icon-close-small {
                    color:@tag-blue-color;
                }

                &.ant-btn:focus,
                &.ant-btn:hover{
                    color:@tag-blue-color;
                    background-color: @btn-tag-blue;
                    border:1px solid @tag-blue-color;
                }
            }

            &.m-tag-violet{
                color:@tag-violet-color;
                background-color: @btn-tag-violet;
                border:1px solid @tag-violet-color;
                .icon-close-small {
                    color:@tag-violet-color;
                }

                &.ant-btn:focus,
                &.ant-btn:hover{
                    color:@tag-violet-color;
                    background-color: @btn-tag-violet;
                    border:1px solid @tag-violet-color;
                }
            }

            &.m-tag-orange{
                color:@tag-orange-color;
                background-color: @btn-tag-orange;
                border:1px solid @tag-orange-color;
                .icon-close-small {
                    color:@tag-orange-color;
                }

                &.ant-btn:focus,
                &.ant-btn:hover{
                    color:@tag-orange-color;
                    background-color: @btn-tag-orange;
                    border:1px solid @tag-orange-color;
                }
            }

            &.m-tag-pink{
                color:@tag-red-color;
                background-color: @btn-tag-red;
                border:1px solid @tag-red-color;
                .icon-close-small {
                    color:@tag-red-color;
                }

                &.ant-btn:focus,
                &.ant-btn:hover{
                    color:@tag-red-color;
                    background-color: @btn-tag-red;
                    border:1px solid @tag-red-color;
                }
            }
            &.m-btn-tag-red{
                color:@tag-red-color;
                background-color: @btn-tag-red;
                border:1px solid @tag-red-color;
                .icon-close-small {
                    color:@tag-red-color;
                }

                &.ant-btn:focus,
                &.ant-btn:hover{
                    color:@tag-red-color;
                    background-color: @btn-tag-red;
                    border:1px solid @tag-red-color;
                }

            }
            .icon-close-small {
                .font-s10();
                margin-left:0.5rem;
                .fr();
            }

            .ant-tag-text{
                >span{
                   white-space: nowrap;
                   overflow: hidden;
                   text-overflow: ellipsis;
                   max-width: 8rem;
                   padding:0 0.333rem;
                   .dib();
                   .fl();
                }
            }

        }

    }

//m-tag
.m-tag {

    &.ant-tag{
        color: @title-color;
        line-height: 2.38rem;
        height: 2.666rem;
        padding: 0 1.166rem;
        border: 1px solid @form-input-border;
        background: #fff;
        .font-s14();
        .pos(r);
        white-space: normal;
        transition: all .5s;
        font-family: @all-family;
        border-radius: 0.25rem;
        margin:0 0.5rem 0.5rem 0;
        outline: none;
    }

    .icon-close-small {

       .font-s10();
       color:#fff;
       margin-left:0.5rem;

       &.m-icon-pos{
           width:1.5rem;
           height:1.5rem;
           line-height: 1.5rem;
           .tc();
           .pos(a);
           .db();
           .border-radius(@radius: 3rem);
           top:-.833rem;
           right: -.833rem;
           background: @form-input-border;

       }

    }

    &.ant-tag-checkable-checked {

        background-color: #fff;

        .m-badge{

            &.ant-badge{
                .ant-badge-count{

                    background: #fff !important;
                }
            }

        }

    }

    &:hover {

        color:#fff;

        .m-badge{

            &.ant-badge{
                .ant-badge-count{

                    background: #fff !important;
                }
            }

        }


    }

    &.m-tag-marginB{
        //margin-bottom:0.833rem
    }

    &.m-tag-customer{
        &.ant-tag{
            border-left: 1px solid @form-input-border;
            border-radius: .333rem;
        }
    }

}


//m-badge
.m-badge{
    &.ant-badge{
        .ant-badge-count{
            .border-radius(@radius:2rem);
            min-width: 1.5rem;
            height: 1.5rem;
            line-height: 1.5rem;
            padding: 0 .5rem;
            .tc();
            .font-s12();
            .dib();
            color:#fff;
            margin-left:.25rem;
            top:-0.083rem;
            background: @orange !important;
            .font-wn();
            //新客户全景
            .box-shadow(none);
        }
    }

    &.m-badge-pink{

         .ant-badge-count{
            background: @pink !important;
        }
    }

    &.m-badge-red{

        .ant-badge-count{
           background: @red !important;
       }

   }

    &.right{
        .fr() !important;
        margin-top:0.916rem;
    }

    &.m-badge-width{
        &.ant-badge {

            .ant-badge-count{
                min-width: 3rem;
            }

        }

    }

}

//m-tagbox
.m-tagbox{

    .dis-fx();

    .m-tagbox-left{

        .alc-end();
        .dis-fx();
        color: @title-color;
        display: inline-block;
        font-size: 1.166rem;
        overflow: hidden;
        white-space: normal;
        padding: 0 1rem;
        height: 2.666rem;
        width: 8rem;
        .tr();

    }

    .m-tagbox-right{

        .flex(1);
        //padding-left: .5rem;

        .m-tagbox-rightMain{
            .border-radius(@radius:  0 0.333rem 0.333rem 0);
            padding: 0;
            .dib();
            .font-s0();
            position: relative;
            // height: 2.8rem;
            // overflow: hidden;
        }

    }

    .m-tag-small{
        margin-bottom:0.416rem;
    }
}


//m-product-sort  2018-03-14
.m-product-sort{

    padding:0 1.666rem 1.666rem 1.666rem;
    line-height: 1;

    .m-porduct-item{
        border-bottom:1px dashed @border-btn-color;
        padding: 1.25rem 0 0.833rem 0;

        &:first-child{
           border-top:1px dashed @border-btn-color;
        }

        .m-porduct-item-head{
            .font-s14();
            color:@title-color;
            text-indent: 0.833rem;
            line-height: 1.416rem;
        }

        .m-porduct-item-content{
            padding: 0.833rem 0rem 0 1rem ;
        }
    }
}

//m-product-service
.m-product-service{

    padding:0 1.5rem;
    line-height: 1;

    .m-porduct-item{
        padding: 1rem 0;

        .m-porduct-item-head{

            span{
                margin-left:0.5rem;
                .font-s18();
                color:@font-color;
                line-height: 1.5rem;
            }
            i{
                .font-s18();
                color:@pink;
            }
        }

        .m-porduct-item-content{
            padding: 1.083rem 0rem 0 1.083rem;
            .m-tag-info {
                &.ant-tag{

                    font-family: @all-family;

                    .font-s14();
                    .m-tag-title{
                        .font-s16();
                    }
                    i{
                        .font-s16();
                    }
                    .m-spot{
                        width: 0.75rem;
                        height: 0.75rem;
                        border: 2px solid #eee;
                        border-radius: 1rem;
                        .dib();
                        border: 2px solid @darkgray;
                        margin-right:.5rem;
                    }
                    &:hover{
                        .m-spot{
                            border-color: @blue;
                        }
                    }
                    &.ant-tag-checkable-checked{
                        .m-spot{
                            border-color: @blue;
                        }
                    }
                }
            }
        }
    }
    &.m-product-service{
        .m-porduct-item{
            padding: .75rem 0 .5rem;
            .m-tag-title{
                .font-s17() !important;
            }
            i{
                .font-s17() !important;
            }
        }
    }
}


//m-tag-info
.m-tag-info {

    &.ant-tag{
        color: @tag-default;
        line-height: 1.333rem;
        padding: 0;
        background: #fff;
        margin:0 1.25rem 0.833rem 0rem;
        .font-s12();
        .pos(r);
        white-space: normal;
        transition: all .5s;
        font-family: @all-family;
        .dib();
        cursor: pointer;
    }

    &.ant-tag-checkable-checked {
       color:@blue;
       font-weight:600;
    }
    &.ant-tag-checkable:not(.ant-tag-checkable-checked):hover{
        color:@blue
    }

    &.ant-tag-checkable:active {
        background-color: #fff !important;
    }

    &:hover {
        color:@blue
    }

}

//m-tag-line
.m-tag-line {

    &.ant-tag{
        color: @tag-color;
        line-height: 1.333rem;
        padding: 0;
        background: #fff;
        .font-s14();
        .pos(r);
        white-space: normal;
        transition: all .5s;
        border-bottom:2px solid @tag-color;
        .border-radius(0);
        margin-right: 1rem;
    }

    &.ant-tag-checkable-checked {
       color:@blue;
       border-bottom:2px solid @blue;
    }
    &.ant-tag-checkable:active {
        background-color: #fff !important;
    }
    &.ant-tag-checkable:not(.ant-tag-checkable-checked):hover {
        color:@blue;
    }
    &:hover,&:focus {
        color:@blue;
        border-bottom:2px solid @blue;
    }

}
//m-tag-list-line
.m-tag-list-line {

    &.ant-tag{
        color: @tag-color;
        line-height: 1.333rem;
        padding: 0 0 2rem 0;
        background: #fff;
        .font-s14();
        .pos(r);
        white-space: normal;
        transition: none;
        .border-radius(0);
        margin-right: 1rem;
    }
}
.m-left-tagbox {
    .clearfix();
    margin-bottom: 0.583rem;
    .m-tag{
        &.ant-tag{
            .fl();
            margin:0 0.75rem 0.75rem 0;
        }
    }
}

.m-risk-tag{
    height: 2.333rem;
    line-height: 2.333rem;
    padding: 0 0.833rem 0 0.833rem;

    border-top-right-radius: .333rem;
    border-bottom-right-radius: .333rem;
    margin-top:1.25rem;
    color:@tag-color;
    background-color: @btn-tag;

    &.tag-orange{
        background-color: #ffc426;
        color: #fff;
    }
    &.tag-blue{
        background-color: #56c8fc;
        color: #fff;
    }
    &.tag-red{
        background-color: #ed6332;
        color: #fff;
    }
    &.tag-pink{
        background-color: @pink;
        color: #fff;
    }

    &.m-btn-tag-red{
        color:@tag-red-color;
        background-color: @btn-tag-red;
        border:1px solid @btn-tag-red;

        &.ant-btn:focus,
        &.ant-btn:hover{
            color:@tag-red-color;
            background-color: @btn-tag-red;
            border:1px solid @btn-tag-red;
        }

    }
    &.m-btn-tag-blue{
        color:@tag-blue-color;
        background-color: @btn-tag-blue;
        border:1px solid @btn-tag-blue;

        &.ant-btn:focus,
        &.ant-btn:hover{
            color:@tag-blue-color;
            background-color: @btn-tag-blue;
            border:1px solid @btn-tag-blue;
        }

    }
    &.m-btn-tag-orange{
        color:@tag-orange-color;
        background-color: @btn-tag-orange;
        border:1px solid @btn-tag-orange;

        &.ant-btn:focus,
        &.ant-btn:hover{
            color:@tag-orange-color;
            background-color: @btn-tag-orange;
            border:1px solid @btn-tag-orange;
        }

    }

    &.m-btn-tag-violet{
        color:@tag-violet-color;
        background-color: @btn-tag-violet;
        border:1px solid @btn-tag-violet;

        &.ant-btn:focus,
        &.ant-btn:hover{
            color:@tag-violet-color;
            background-color: @btn-tag-violet;
            border:1px solid @btn-tag-violet;
        }

    }

    &.m-btn-tag-yellow{
        color:@tag-yellow-color;
        background-color: @btn-tag-yellow;
        border:1px solid @btn-tag-yellow;

        &.ant-btn:focus,
        &.ant-btn:hover{
            color:@tag-yellow-color;
            background-color: @btn-tag-yellow;
            border:1px solid @btn-tag-yellow;
        }

    }
}

.m-mot-tag{
    &.ant-tag{
        color: @tag-color;
        line-height: 3rem;
        height: 3.166rem;
        padding: 0 1.166rem;
        border: 1px solid @form-input-border;
        background: #fff;
        margin:0 0.666rem 0 0;
        .font-s14();
        .pos(r);
        white-space: normal;
        transition: all .5s;
        font-family: @all-family;
    }
    .m-mot-badge{
        .ant-badge-count{
            .border-radius(@radius:2rem);
            min-width: 1.666rem;
            height: 1.666rem;
            line-height: 1.666rem;
            padding: 0 .5rem;
            .tc();
            .font-s14();
            .dib();
            color:#fff;
            margin-left:.25rem;
            top:-0.166rem;
            box-shadow: none;
        }

    }
}
.m-process-tag{
    &.ant-tag{
        margin:0 1rem 0 0;
    }
}

.pink-tag-box, .pink-tag-box:hover{
    .m-mot-badge{
        .ant-badge-count{
            background-color: @pink;
        }
    }
    .m-mot-tag {
        &:hover,&.ant-tag-checkable-checked{
            background-color: @pink;
            border-color: @pink;
            color: #fff;
            .m-mot-badge{
                .ant-badge-count{
                    background-color: #fff;
                    color: @pink;
                }
            }
        }
    }
}

.blue-tag-box, .blue-tag-box:hover{
    .m-mot-badge{
        .ant-badge-count{
            background-color: @blue;
        }
    }
    .m-mot-tag {
        &:hover,&.ant-tag-checkable-checked{
            background-color: @blue;
            border-color: @blue;
            color: #fff;
            .m-mot-badge{
                .ant-badge-count{
                    background-color: #fff;
                    color: @blue;
                }
            }
        }
    }
}

.orange-tag-box, .orange-tag-box:hover{
    .m-mot-badge{
        .ant-badge-count{
            background-color: @orange;
        }
    }
    .m-mot-tag {
        &:hover,&.ant-tag-checkable-checked{
            background-color: @orange;
            border-color: @orange;
            color: #fff;
            .m-mot-badge{
                .ant-badge-count{
                    background-color: #fff;
                    color: @orange;
                }
            }
        }
    }
}

.voilet-tag-box, .voilet-tag-box:hover{
    .m-mot-badge{
        .ant-badge-count{
            background-color: @voilet;
        }
    }
    .m-mot-tag {
        &:hover,&.ant-tag-checkable-checked{
            background-color: @voilet;
            border-color: @voilet;
            color: #fff;
            .m-mot-badge{
                .ant-badge-count{
                    background-color: #fff;
                    color: @voilet;
                }
            }
        }
    }
}

.m-count-list {
    padding: 1.5rem 1.833rem .75rem;

    .m-count-tag {
      width: 100%;
      height: auto;
      line-height: 2.666rem;
      font-size: 1.167rem;
      color: #116185;
      background-color: #d5f2ff;
      padding: 0 .75rem;
      margin-bottom: .75rem;
      margin-right: 0;
      transition: all .5s;
      .border-radius(1.333rem);
      font-family: @all-family;
      border: 1px solid #d5f2ff;
      .pos(r);

      .icon-close-small {
        .pos(a);
        top: 0;
        right: .75rem;
        .font-s12();
        padding: 0 .5rem;
        .font-wb();
      }

      .m-tag-text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-right: 2rem;
        padding: 0 .5rem;
        .db();
      }

      .m-tag-explain {
        color: @blue;
        padding: 0 .5rem .5rem;
        line-height: 1;
        font-size: 1.09rem;
      }

      &.m-tag-add {
        border: 1px dashed @blue;
        color: @blue;
        background-color: #fff;

        .icon-add {
          .fl();
          .dib();
          font-size: 1.25rem;
          padding: 0 .5rem;
        }

        .m-add-text {
          .fl();
          .dib();
        }
      }
    }
}

  .m-hollow-tag {
    background-color: transparent !important;
    height: auto !important;
    line-height: 2.666rem !important;
    font-size: 1.167rem !important;
    color: @blue !important;
    padding: 0 .75rem !important;
    margin-bottom: .75rem !important;
    margin-right: .75rem !important;
    transition: all .5s !important;
    .border-radius(1.333rem) !important;
    font-family: @all-family !important;
    border: 1px solid @blue !important;
    .pos(r) !important;

    .icon-close-small {
      .pos(a) !important;
      top: 0 !important;
      right: .75rem !important;
      .font-s12() !important;
      padding: 0 .5rem !important;
      .font-wb() !important;
    }

    .m-tag-text {
      white-space: nowrap !important;
      overflow: hidden !important;
      text-overflow: ellipsis !important;
      margin-right: 2rem !important;
      padding: 0 .5rem !important;
      .db() !important;
    }

    &.m-hollow-tag-active {
      background-color: @blue !important;
      border: 1px solid @blue !important;
      color: #fff !important;
    }
}

//m-tag-pay
.m-pay-tag-list{
    padding: 1rem 1.833rem .75rem;
    .m-pay-tag,.m-tag-rpleft{
        margin-bottom: .833rem;
    }
}
.m-pay-tag{
    &.ant-tag{
        font-family: @all-family;
        width: 100%;
        height: auto;
        line-height: 2.5rem;
        .font-s14();
        color: @title-color;
        background-color: #eaf6fc;
        padding: 0 1.25rem;
        border-color:#eaf6fc;
        .border-radius(1.333rem);
        .m-pay-tag-icon{
            visibility: hidden;
            a{
                padding-left: .416rem;
                i{
                    .font-s18();
                }
            }
        }
        &:hover{
            .m-pay-tag-icon{
                visibility: visible;
            }
        }
        &.m-tag-add {
            border: 1px dashed @c-gray;
            color: @tag-color;
            background-color: #fff;
            .iconfont{
                .fl();
                .font-s15();
                padding-right: .5rem;
            }
            &:hover{
                border-color: @blue;
                color: @blue;
            }
        }
        .m-sec-list{
            padding:0 0 .5rem 1.5rem;
            li{
                .font-s13();
                line-height: 1.666rem;
                padding-bottom: .166rem;
            }
        }
    }
}

//数字营销
.m-tag-szyx{
    &.ant-tag{
        height: 2.333rem;
        line-height: 2.166rem;
        padding: 0 .833rem;
        .font-s14();
        margin-right: .833rem;
        .iconfont{
            .font-s14();
            padding-left: .666rem;
        }
    }
    &.ant-tag-orange {
        color: @orange;
        background: #fef9f7;
        border-color: @orange;
    }
}

//m-tag-info
.m-tag-info-yxhd {
    &.ant-tag{
        color: @tag-default;
        line-height: 2.666rem;
        height: 2.666rem;
        padding: 0;
        background: transparent;
        color: @tag-color;
        margin:0 0 0 1.666rem;
        .font-s14();
        border:0;
    }
    &:hover,&.ant-tag-checkable-checked {
       color:@blue
    }
    &.ant-tag-checkable:not(.ant-tag-checkable-checked):hover{
        color:@blue
    }
    .m-tag-icon{
        .font-s14();
        padding-left: .333rem;
    }
}

//数字营销-20190411-选择模板
.m-plr20{
    padding-left: 1.666rem;
    padding-right: 1.666rem;
}
.m-tag-muban{
    height: 2.166rem;
    line-height: 2rem;
    background-color: transparent;
    .border-radius(.166rem);
    .font-s13();
    padding: 0 .5rem;
    border: 1px solid #d9d9d9;
    margin-right: .833rem;
    &.m-tag-orange{
        color: #ff791f;
        border-color: #ff791f;
    }
}
.m-tag-type{
    height: 2.166rem;
    line-height: 2.166rem;
    .border-radius(.166rem);
    .font-s13();
    padding: 0 .583rem;
    &.m-tag-blue{
        color: @blue;
        background-color: #daf3ff;
    }
}

//报表
.m-report-tag{
    &.ant-tag{
        height:2.166rem;
        line-height: 2rem;
        .font-s13();
        padding: 0 .833rem;
        background-color: #eef5fb;
        color: @blue;
        border: 0;
        .border-radius(0);
        margin: 0;
        cursor: default;
        &:hover{
            opacity: 1;
        }
    }
    &.m-add-tag{
        border: 1px dashed @c-gray;
        color: @tag-color;
        background-color: transparent;
        cursor: pointer;
        &:hover{
            border-color: @blue;
            color: @blue;
        }
        .iconfont {
            .fl();
            .font-s13();
            padding-right: .333rem;
        }
    }
}

.m-tag-rpleft{
    &.ant-tag{
        font-family: @all-family;
        width: 100%;
        height: auto;
        line-height: 2.5rem;
        .font-s14();
        color: @title-color;
        background-color: transparent;
        padding: 0 1.25rem;
        border: 0;
        .border-radius(1.333rem);
        .m-pay-tag-icon{
            visibility: hidden;
            a{
                padding-left: .416rem;
                i{
                    .font-s18();
                }
            }
        }
        &:hover{
            color: @blue;
        }
    }
    &.ant-tag-checkable-checked{
        background-color: #eaf6fc;
        border-color:#eaf6fc;
        color: @blue;
        .m-pay-tag-icon{
            visibility: visible;
        }
    }
}

//新客户全景
.m-tag-cus{
    &.ant-tag{
        font-family: @all-family;
        color: #313131;
        line-height: 2.5rem;
        height: 2.666rem;
        padding: 0 1.166rem;
        border: 1px solid @border-btn-color;
        .font-s14();
        .border-radius(.333rem);
        margin: .5rem;
        min-width: 6.666rem;
        .tc();
        background-color: transparent;
        &:hover{
            color: @blue;
            border-color: @blue;
        }
        &:active {
            background-color: transparent;
        }
        &.ant-tag-checkable-checked{
            background-color: @blue;
            border-color: @blue;
            color: #fff;
        }
    }
}
//产品适配
.m-tag-fit{
    &.ant-tag{
        font-family: @all-family;
        color: #fff;
        line-height: 2.166rem;
        height: 2.166rem;
        padding: 0 .416rem;
        .font-s13();
        .border-radius(0);
        border:0;
        margin: 0 .416rem .416rem 0;
        width: 8.75rem;
        .tc();
        overflow:hidden;
        text-overflow:ellipsis;
        white-space:nowrap;
        cursor: default;
        &:hover{
            opacity: 1;
        }
    }
    &.m-fit-add{
        cursor: pointer;
        width: auto;
        .iconfont{
            .font-s14();
            .font-wb();
        }
    }

}
//新建报表
.m-tag-xzzb{
    &.ant-tag{
        font-family: @all-family;
        color: @title-color;
        line-height: 2rem;
        height: 2rem;
        padding: 0;
        .font-s14();
        .border-radius(0);
        border:0;
        background-color: transparent;
        margin: 0 .833rem;
    }
}
//客户列表-修改
.m-tag-khlb{
    &.ant-tag{
        height: 2.166rem;
        line-height: 1.833rem;
        padding: 0 .833rem;
        .font-s13();
        margin-right: .833rem;
        background-color: transparent;
        border-color: #fff;
        color: #fff;
        .border-radius(.333rem);
        .iconfont{
            .font-s10();
            padding-left: .5rem;
        }
        &:hover{
            opacity: 1;
        }
    }
}
//新数字营销
.m-zxr-item-tag{
    .dib();
    .font-s12();
    line-height: 1.666rem;
    height: 1.666rem;
    background-color: @orange;
    color: #fff;
    border-radius: 1rem;
    padding: 0 1rem;
    .font-wn();
    margin: 0 0 0 .833rem;
}
.m-hd-line-tag{
    .dib();
    .font-s12();
    line-height: 1.5rem;
    height: 1.666rem;
    border:1px solid;
    border-radius: 1rem;
    padding: 0 .833rem;
    .font-wn();
    margin: 0 0 0 .833rem;
}
