@charset "utf-8";

/*m-title*/
.title-name{
    .font-s36();
    line-height:3rem;
}
.title-secondName{
    padding: 0.5rem 0 0 0;
    .font-s14();
    color: #969595;
}

//m-title-child
.m-title-child{
    color:@title-color;
    .font-s15();
    .dis-fx();
    .alc-start();
    padding-top:.666rem;
    margin-bottom: 0.833rem;

    span{
        .font-s14();
        .dib();
        width:1.5rem;
        height: 1.5rem;
        line-height: 1.5rem;
        background: @btn-lightGray;
        .tc();
        margin-right: 0.666rem;
        .border-radius(0.166rem);
    }
}



