@charset "utf-8";
//m-tree-info
.m-tree-info{
	&.ant-tree{
		font-family: @all-family;
		.font-s14();
		li{
			.ant-tree-node-content-wrapper{
				color: @title-color;
				height: 2rem;
				line-height: 2rem;
				padding: 0 .5rem;
			}
			ul{
				padding-left:2rem;
			}
		}
		&.ant-tree-show-line li{
			padding: .25rem 0;
			.ant-tree-switcher{
			width: 2rem;
			height: 2rem;
			line-height: 2rem;
				&.ant-tree-switcher_close:after,&.ant-tree-switcher_open:after{
					.font-s16() !important;
				}
			}
			&:not(:last-child):before{
				border-left:0;
			}
		}    
	}
}
//m-tree style
.m-tree{
	&.ant-tree{
		font-family: @all-family;
		.font-s14();
		li{
			padding: .25rem 0;
			.ant-tree-node-content-wrapper{
				color: @tag-color;
			}
		}
	}
}

.m-tree-livebos{
	&.ant-tree{
		font-family: @all-family;
		.font-s14();
		li{
			padding: .25rem 0;
			.ant-tree-node-content-wrapper{
				color: #000;
				height: 2.166rem;
				line-height: 2.166rem;
			}
		}
	}
}

.ant-select-tree-dropdown{
	.ant-select-dropdown-search{
		input.ant-select-search__field{
			border-color: @form-input-border;
			.border-radius(1px);
			color: @font-color;
		}
	}
	.ant-select-tree li .ant-select-tree-node-content-wrapper{
		color: @view-color;
		&:hover{
			background-color: @ax-hover;
		}
		&.ant-select-tree-node-selected{
			background-color: @ax-hover2;
		}
	}
}







