.content-detail {
  display: flex;
  :global{
    .ant-tag{
      padding: 0;
    }
  }
  color: #61698C;
  margin-top: 1.33rem;

  span:first-child {
    white-space: nowrap;
    color: #1A2243;
    font-weight: bold;
  }
}
//下架标签样式
.removeShelfIndicatorStyle{
  margin-bottom: 10px !important;
  padding: 1px 6px !important;
  background: #F7F8FC;
  border-radius: 1px;
  border: 0;
  span{
    color: #61698C !important;
  }
}
//上架标签样式
.shelfLabelStyle{
  margin-bottom: 10px !important;
  padding: 1px 6px !important;
  background: #F7F8FC;
  border-radius: 1px;
  border: 0;
  span{
    color: #244FFF !important;
  }
}
//符号样式
.symbolStyle{
  margin-bottom: 10px !important;
  width: 10px;
  background: transparent;
  border: 0;
}
.tree-node {
  font-size: 14px;
  color: #61698C;
  border-radius: 2px;
  padding: 4px 6px !important;
  background-color: #F7F8FC;

}
.ant-modal-confirm-btns .ant-btn{
  height: 32px !important;
}