.eAnxiButton32 {
  padding: 0 16px;
  height: 32px;
  color: #ffffff;
  border-radius: 2px;
  font-size: 14px;
  background: #244fff;
  border: none;
  &:hover {
    background: #5a7bff;
    color: #ffffff;
  }
  &:focus {
    background: #1e43d9;
    color: #ffffff;
  }
  &:disabled {
    color: #c0c0c0;
    background: #f7f7f7;
    border: 1px solid #e2e2e4;
  }
  &:disabled:hover {
    color: #c0c0c0;
    background: #f7f7f7;
    border: 1px solid #e2e2e4;
  }
}
.eAnxiButtonM32 {
  padding: 0 15px;
  height: 32px;
  color: #1a2243;
  border-radius: 2px;
  font-size: 14px;
  background: #ffffff;
  border: 1px solid #d1d5e6;
  &:hover {
    background: #ffffff;
    color: #244fff;
    border: 1px solid #244fff;
  }
  &:focus {
    background: #ffffff;
    color: #1e43d9;
    border: 1px solid #1e43d9;
  }
  &:disabled {
    color: #c0c0c0;
    background: #f7f7f7;
    border: 1px solid #e2e2e4;
  }
  &:disabled:hover {
    color: #c0c0c0;
    background: #f7f7f7;
    border: 1px solid #e2e2e4;
  }
}
