.treeSelect-dropSelect-tab .ant-select-selection{
  height:32px
}
.treeSelect-dropSelect-tab .ant-select-search__field {
  margin-top: -8px;
}
.treeSelect-dropSelect-tab .ant-select-selection__choice {
  height: 22px!important;
  line-height: 22px!important;
  margin: 4px 6px 4px 0!important;
}
.treeSelect-dropSelect-tab .ant-select-selection__choice:nth-child(4) {
  background: #fff!important;
  border:none;
  font-size: 14px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #FF6E30;
  padding: 0;
}
.dropSelect-option-item{
  /*padding-left: 15px;*/
  display: flex;
  min-height: 20px;
  margin-bottom: 12px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #61698C;
  font-size: 14px;
  /*justify-content: space-between;*/
  align-items: center;
}
.dropSelect-option-item2{
  /*padding-left: 15px;*/
  /*padding-right: 15px;*/
  display: flex;
  min-height: 20px;
  margin-bottom: 12px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #61698C;
  font-size: 14px;
  justify-content: space-between;
  align-items: center;
}
.NewIndicatorEditing_leftB_scroll{
  margin-top: 20px;
  height: 400px;
  overflow-y: auto;
}
.NewIndicatorEditing_leftB_scroll::-webkit-scrollbar{
  height: 12px;
  width: 5px;
  overflow-y: auto;

}
.NewIndicatorEditing_leftB_scroll::-webkit-scrollbar-thumb{
  border-radius: 5px;
  background: #b1b1b1;
}
.NewIndicatorEditing_leftB_scroll::-webkit-scrollbar-track{
  -webkit-box-shadow:0;
  border-radius: 0;
  background: #ffffff;
}

.NewIndicatorEditing_right_scroll{
  height: 450px;
  overflow-y: auto;
}
.NewIndicatorEditing_right_scroll::-webkit-scrollbar{
  height: 12px;
  width: 5px;
  overflow-y: auto;
  margin-top: 15px;
}
.NewIndicatorEditing_right_scroll::-webkit-scrollbar-thumb{
  border-radius: 5px;
  background: #b1b1b1;
}
.NewIndicatorEditing_right_scroll::-webkit-scrollbar-track{
  -webkit-box-shadow:0;
  border-radius: 0;
  background: #ffffff;
}
