.m_addStep{
  border: 1px dashed #2daae4;
  border-radius: 4px;
  padding: 1rem 2rem;
  display: inline-block;
  cursor: pointer;
}
.mCascader{
  :global(.ant-cascader-picker-label){
    color: rgba(0, 0, 0, 1) !important;
  }
  :global(.ant-cascader-input){
    height: 100% !important;
    border-radius: 4px !important;
  }
}

.m_form{
  :global(.ant-calendar-picker){
    width: 100%;
    height: 2.66rem;
  }
  :global(.ant-form-item-label>label){
    line-height: 1.6rem !important;
  }
  :global(.ant-select-selection--single){
    height: 3.166rem !important;
  }
  // :global(.ant-select-selection__rendered){
  //   height: 3.166rem !important;
  //   line-height: 3.166rem;
  // }
  // :global(.ant-cascader-input){
  //   height: 3.166rem !important;
  //   line-height: 3.166rem;
  // }
  // :global(.ant-input){
  //   height: 3.22rem !important;
  // }
}
