.forpinlunBtn{
    display: flex;
    justify-content: space-between;
    padding: 0 1rem 1rem;
    // border-bottom: 1px solid #7777775e;
    // line-height: 3rem;
}
.lebal{
    display: inline-block;
    line-height: 1.5rem;
    height: 1.5rem;
    background: #7ec3fe;
    border-radius: .3rem;
    padding: 0 .5rem;
    color: #fff;
    font-size: 1rem;
}