.myCard {
    border-left: 5px solid #244fff;
    font-weight: bold;
    font-size: 18px;
}
.mBreakImg {
    padding: 0 4.583rem 0 2.166rem;
    img {
        border-radius: 50%;
        width: 70px;
        height: 70px;
    }
}
.mCardCInfo {
    padding: 2.666rem 2rem;
    border-bottom: 1px solid #EAECF2;
    margin: 0 2rem;
}
.mCardInfoB {
    border: 1px solid #EAECF2;
    // border-bottom: none;
    margin: 0.833rem 2rem;
}
.mCardInfo {
    padding: 1.666rem;
    border-bottom: 1px solid #EAECF2;
    background-color: #f3f4f7;
}
.mCardInfoCenter {
    margin: 27px 0;
    border-left: 1px solid #EAEEF2;
    padding-top: 9px;
}
.mCardTableMg {
    margin: 0 2rem 2rem 2rem;
}

.executiveStrategyLine {
    width: 2px;
    height: 40px;
    background: #244fff;
}
.site {
    font-size: 16px;
    color: #244fff !important;
    &:hover {
        color: #738fff !important;
    }
}
.popover {
    :global(.ant-popover-inner-content) {
        padding: 0 !important;
    }
    :global(.ant-tabs-nav .ant-tabs-tab-active) {
        color: #244fff;
    }
    :global(.ant-tabs-ink-bar) {
        background-color: #244fff;
    }
    :global(.ant-tabs-tab) {
        text-align: center !important;
        font-size: 16px;
        color: #61698C;
        &:hover{
            color: #244fff;
        }
    }
    :global(.ant-tabs .ant-tabs-left-content) {
        padding: 0 !important;
    }
}
.strategyInput {
    :global(.ant-input) {
        background-color: #f3f4f7;
        border-radius: 1px;
    }
}

.options{
    :global(.ant-checkbox-checked){
      :global(.ant-checkbox-inner){
        background-color: #244fff !important;
      }
      :global(.ant-checkbox-inner:hover){
        border-color: #244fff !important;
      }
  
    }
    :global(.ant-checkbox-checked::after) {
      border-color: #244fff !important;
    }
    :global(.ant-checkbox:hover){
      color: #244fff !important;
    }
    :global(.ant-checkbox-input:hover) + :global(.ant-checkbox-inner),:global(.ant-checkbox-input:focus) + :global(.ant-checkbox-inner){
      border-color: #244fff !important;
    }
}

.input {
    :global(.ant-input) {
        padding-left: 75px !important;
    }
}

.closeHover {
    &:hover {
        background-color: rgba(5, 14, 28, 0.1);
    }
}