.tagSelect {
  :global(.ant-tag) {
    padding: 0 1.166rem;
  }
}

.Tag {
  :global(.disable-tag) {
    background-color: #e4e3e3 !important;
    color: #aaa !important;

    &:hover {
      color: #aaa !important;
    }
  }
}
