@charset "utf-8";

/*loginBg*/
.loginBg{
    background-color: @loginBg !important;
    .pos(r);

    &.ant-layout{
        height: 100%;
        background: url(../assets/polygon2.png) no-repeat top left;
    }

    .m-polygon-top{
        .pos(a);
        top:0;
        left: 0;
    }
    .m-polygon-bottom{
        .pos(a);
        bottom:4.333rem;
        left: 50%;
        margin-left: 12rem;
    }
    .ant-layout-content{
        .dis-fx();
        height: 100%;
        background: url(../assets/polygon.png) no-repeat 70% 92%;

    }

    .ant-layout-footer {
        background: transparent;
        border-top:1px solid rgba(255,255,255,0.07);
        padding: 0;
        height: 4.333rem;
        line-height: 4.333rem;
        color: @tag-color;
        .font-s14();
        .pos(f);
        width: 100%;
        bottom:0;
    }

}


/*m-header-login*/
.m-header-login{
    height:7rem !important;
    background: transparent !important;
    padding: 0;
    border-bottom:1px solid rgba(255,255,255,0.07);
    .pos(f);
    width: 100%;
    line-height: 7rem !important;

    .m-header-login-content{
        width: 83.333rem;
        margin: 0 auto;

        .m-logo{
            width: 16rem;
            border-right: 1px solid rgba(0,0,0,.08);
            height:7rem;

            .m-logo-link{

                .db();
                .tc();

                img{
                    width:12.083rem;
                    height:3.333rem;
                }
            }
        }
    }
}

/**/
.m-layout-content-box{
    width: 83.333rem;
    margin:0 auto;
    height: 100%;
    position: relative;

    .m-layout-content-map {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        overflow: hidden;
        img {
            max-width: unset;
        }
        canvas {
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    .m-layout-content-box-item{
        .dis-fx();
        .alc();
        height: 100%;
        padding: 0 4rem;
        position: relative;
        z-index: 1;

        .m-item-info{

            color:#fff;
            .font-s16();
            line-height: 2;

            h2{
                .font-s30();
                padding-bottom: 1.5rem;
                color:#fff;
            }
        }

        .m-login-box{

            .flex();
            .dis-fx();
            .alc-end();

            .m-login-box-item{
                .border-radius(0.333rem);
                background: #fff;
                padding: 2.666rem;
                width: 28.166rem;

                .login-name{
                    .font-s24();
                    color:@blue;
                    width: 100%;
                    .tc();
                    padding-bottom: 2.5rem;
                }
            }

        }


    }
}

//m-login-form
.m-login-form{

    .ant-form-item{

        margin-bottom: 2.333rem !important;
        .db() !important;

        &:last-child{
            margin-bottom: 0.333rem;
        }
    }


    .ant-input {
        padding: 0.333rem 0.916rem;
        width: 100%;
        height: 3.333rem;
        .font-s14();
        line-height: 1.5;
        color: @title-color;
        background-color: #fff;
        background-image: none;
        border: 1px solid @login-border;
        .border-radius(0.333rem;);
    }

    .ant-form-item-control-wrapper{
      .db() !important;
    }

    .ant-input-affix-wrapper{

        .font-s20();
        .db() !important;

        .ant-input:not(:first-child){
            padding-left: 3.333rem;
        }

        &:hover .ant-input:not(.ant-input-disabled) {
            border-color: @blue;
        }
    }

    .anticon{
        color:#c1c1c1;
    }

    .anticon-user:before {
        content: "\e758";
        font-family: "iconfont" !important;
    }
    .anticon-lock:before {
        content: "\e759";
        font-family: "iconfont" !important;
    }
    .m-change-item{

       .anticon-lock:before {
            content: "\e759" !important;
            font-family: "iconfont" !important;
        }
    }

    .login-form-button{
        .db();
        width: 100%;
    }

    .ant-btn {
        line-height: 1.5;
        padding: 0 1.25rem;
        .font-s18();
        .border-radius(0.333rem);
        height: 3.333rem;
    }

    .ant-btn-primary {

        color: #fff;
        background-color: @blue;
        border-color:  @blue;

        &:hover, &:focus {
            color: #fff;
            background-color: @blue;
            border-color: @blue;
            opacity: 0.85;
        }


    }

    .m-change{
        a{
            .font-s14();
            margin-left: 0.333rem;
        }
    }




}

