.shortCut {
    height: 42px;
    background: #F2F3F7;
    border-radius: 2px;
    border: none;
    padding: 10px 24px;
    margin-left: 16px;
    font-weight: 400;
    color: #61698C;
}
.shortCut:hover {
    cursor: pointer;
}
.modalPadding .ant-modal-body{
   padding: 24px 0 0;
}