//右侧样式
.right-container {
  padding: 0 2rem;
}
.right-header {
  display: flex;
  height: 5.33rem;
  border-bottom: 1px solid #EAEEF2;

  div:first-child {
    flex: 1;
    font-size: 16px;
    color: #1A2243;
    font-weight: bold;
    padding: 1.75rem 0;
    height: 22px;
    line-height: 22px;
  }

  div:last-child {
    color: #1A2243;
    padding: 1.33rem 0;

  }
}
.ax-btn {
  :global {
    .ant-btn {
      color: #244FFF;
      border-radius: 2px;
      border-color: #244FFF;
    }

  }
}
.content-detail {
  display: flex;
  :global{
    .ant-tag{
      padding: 0;
    }
  }
  color: #61698C;
  margin-top: 1.33rem;

  span:first-child {
    white-space: nowrap;
    color: #1A2243;
    font-weight: bold;
  }
}
.ax-modal {
  :global {
    .ant-modal-content {
      color: #61698C;
    }

    .ant-modal-title {
      font-size: 1.33rem;
      font-weight: bold;
      color: #1A2243;
    }

    .ant-btn {
      color: #61698C;
      border-radius: 2px;
      border: 1px solid #D1D5E6;
    }

    .ant-btn-primary {
      color: #fff;
      background-color: #244FFF;
    }
  }
}
.ax-modal2 {
  width: 1300px !important;
  :global {
    .ant-modal-content {
      color: #61698C;
    }

    .ant-modal-title {
      font-size: 1.33rem;
      font-weight: bold;
      color: #1A2243;
    }

    .ant-btn {
      color: #61698C;
      border-radius: 2px;
      border: 1px solid #D1D5E6;
    }

    .ant-btn-primary {
      color: #fff;
      background-color: #244FFF;
    }
  }
}
//下架标签样式
.removeShelfIndicatorStyle{
  margin-bottom: 10px !important;
  padding: 1px 6px !important;
  background: #F7F8FC;
  border-radius: 1px;
  border: 0;
  span{
    color: #61698C !important;
  }
}
//上架标签样式
.shelfLabelStyle{
  margin-bottom: 10px !important;
  padding: 1px 6px !important;
  background: #F7F8FC;
  border-radius: 1px;
  border: 0;
  span{
    color: #244FFF !important;
  }
}
//符号样式
.symbolStyle{
  margin-bottom: 10px !important;
  width: 10px;
  background: transparent;
  border: 0;
}
//树型展示样式
.tree-node {
  font-size: 14px;
  color: #61698C;
  border-radius: 2px;
  padding: 4px 6px !important;
  background-color: #F7F8FC;

}
.ant-modal-confirm-btns .ant-btn{
  height: 32px !important;
}