.m_item{
    margin-bottom: 0rem !important;
}
.m_animation_border{
    min-height: 2.5rem;
    // padding: 1em;
    border: 1px dotted #2daae4;
    border-bottom: 1px dotted #2daae4 !important;
    margin-bottom: 1rem;
    // background: linear-gradient(white, white) padding-box,repeating-linear-gradient(-45deg,black 0,black 25%,white 0,white 50%) 0 / .6em .6em;
    // animation: ants 12s linear infinite;
}
// @keyframes ants{
//     to{background-position: 100%;}
// }
