@charset "utf-8";

//nav theme
@menu-bg-wrap: #fff;
@menu-bg: #fff;
@menu-hover-bg: #F9FAFC;
@menu-select-bg: #244FFF;
@menu-second-bg: #fff;
@menu-head-bg: #1A2243;

//head theme
@head-bg: #244FFF;
@tag-bg: #244FFF;
@num-bg: #f7b432;
@num-bg-tm: rgba(247,180,50,0.15);
@head-bg-tm: rgba(36,79,255,0.5);
@shadow-bg: rgba(36,79,255,0.2);
@shadow-bg2: rgba(36,79,255,0.4);
@head-bg-l: #0260C6;
@head-bg-r: #592DB5;
@c-color: #4a36b8;

//card
@blue-pink: #ff7676;

//hover
@hover-bg: #F0F1F5;
@hover-bg2: #F0F1F5;
//@hover-bg: #eaf4fe;
@hover-bg3: #E1E7FF;
@hover-border-bg: #dfedfe;

//table-hover
@table-hover-bg: #f5f9fd;
@table-border-bg: #c5d8fb;

//table-hr
@table-hr-bg: rgba(214, 233, 255, 0.702);

@path: "blue-tech";

@rili-bg: #5d91fb;
@cp-card-border: #c0d1f5;