@charset "utf-8";

//nav theme
@menu-bg-wrap: #3A3F52;
@menu-bg: #1F2230;
@menu-hover-bg: #6C7AB2;
@menu-select-bg: #fff;
@menu-second-bg: #fff;
@hover:#7088E6;
@menu-nav-list: linear-gradient(to right,#7088E6 0,#6C7AB2 99%);
@menu-nav-font: #89ABFE;
@menu-nav-second: rgba(139,155,225,1);
@table-theme: #edeff7;
@table-theme-even: #f8f8f8;
@card-border: #edeff7;

//head theme
@headBack: #fff;
@headNavColor: #444;
@headTitleColor: #777;
@headLineColor: #ccc;
@head-bg: #8B9BE1;
@tag-bg: #8B9BE1;
@num-bg: #f7b432;
@num-bg-tm: rgba(247,180,50,0.15);
@head-bg-tm: rgba(139,155,225,0.5);
@topMeun: #8B9BE1;

@level: rgba(139,155,225,1);
@level2: rgba(139,155,225,0.9);
@level3: rgba(139,155,225,0.8);
@level4: rgba(139,155,225,0.7);
@level5: rgba(139,155,225,0.6);
@level6: rgba(139,155,225,0.5);
@level7: rgba(139,155,225,0.4);
@level8: rgba(139,155,225,0.3);
@level9: rgba(139,155,225,0.2);
@level10: rgba(139,155,225,0.1);

//card
@blue-pink: #ff7676;

//hover
@hover-bg: #edeff7;
@hover-bg2: #eef6fc;
//@hover-bg: #eaf4fe;
@hover-border-bg: #dfedfe;

//table-hover
@table-hover-bg: #f5f9fd;
@table-border-bg: #c5d8fb;

@path: "blue-dark";
@canledar-bg:#ffa729;

// 显示隐藏
@one: inline-block;
@two: none;