@charset "utf-8";

//nav theme
@menu-bg-wrap: #194483;
@menu-bg: #0a2d63;
@menu-hover-bg: #2562bb;
@menu-select-bg: #fff;
@menu-second-bg: #fff;
@hover:#2562bb;
@menu-nav-list: linear-gradient(to right,#4785e0 0,#2562bb 99%);
@menu-nav-font: #5d9df3;
@menu-nav-second: rgba(37,98,187,1);
@table-theme: #f6f6f6;
@table-theme-even: #fafafb;
@card-border: #cbe5f5;

//head theme
@headBack: #fff;
@headNavColor: #444;
@headTitleColor: #777;
@headLineColor: #ccc;
@head-bg: #2562bb;
@tag-bg: #2562bb;
@num-bg: #f7b432;
@num-bg-tm: rgba(247,180,50,0.15);
@head-bg-tm: rgba(37,98,187,0.5);
@topMeun: #2562bb;

@level: rgba(37,98,187,1);
@level2: rgba(37,98,187,0.9);
@level3: rgba(37,98,187,0.8);
@level4: rgba(37,98,187,0.7);
@level5: rgba(37,98,187,0.6);
@level6: rgba(37,98,187,0.5);
@level7: rgba(37,98,187,0.4);
@level8: rgba(37,98,187,0.3);
@level9: rgba(37,98,187,0.2);
@level10: rgba(37,98,187,0.1);

//card
@blue-pink: #ff7676;

//hover
@hover-bg: #f6f8fb;
@hover-bg2: #ecf1f7;
@hover-border-bg: #dfedfe;

//table-hover
@table-hover-bg: #f5f9fd;
@table-border-bg: #c5d8fb;

@path: "blue-distant";
@canledar-bg:#ffa729;

// 显示隐藏
@one: inline-block;
@two: none;