@charset "utf-8";

//nav theme
@menu-bg-wrap: #182333;
@menu-bg: #06192f;
@menu-hover-bg: rgba(0, 0, 0, 0.15);
@menu-select-bg: #2d68de;
@menu-second-bg: #fff;
@menu-head-bg: #2d68de;

//head theme
@head-bg: #244FFF;
@tag-bg: #244FFF;
@num-bg: #f7b432;
@num-bg-tm: rgba(247,180,50,0.15);
@head-bg-tm: rgba(45,104,222,0.5);
@shadow-bg: rgba(45,104,222,0.2);
@shadow-bg2: rgba(45,104,222,0.4);
@head-bg-l: #08368D;
@head-bg-r: #58207A;
@c-color: #4a237d;
//card
@blue-pink: #ff7676;

//hover
@hover-bg: #f4f7fd;
@hover-bg2: #eaf0fc;
@hover-bg3: #d3e1fe;
@hover-border-bg: #dfedfe;

//table-hover
@table-hover-bg: #f5f9fd;
@table-border-bg: #c5d8fb;

//table-hr
@table-hr-bg:rgba(45, 104, 222, 0.705);

@path: "blue-tech";

@rili-bg: #5d91fb;
@cp-card-border: #c0d1f5;