@charset "utf-8";

//nav theme
@menu-bg-wrap: #3A3F52;
@menu-bg: #1F2230;
@menu-hover-bg: #54a9df;
@menu-select-bg: #fff;
@menu-second-bg: #fff;
@hover:#54a9df;
@menu-nav-list: linear-gradient(to right,#54a9df 0,#2684bf 99%);
@menu-nav-font: #4bb9ff;
@menu-nav-second: rgba(84,169,223,1);
@table-theme: #f6f6f6;
@table-theme-even: #fafafb;
@card-border: #cbe5f5;

//head theme
@headBack: #fff;
@headNavColor: #444;
@headTitleColor: #777;
@headLineColor: #ccc;
@head-bg: #54a9df;
@tag-bg: #54a9df;
@num-bg: #f7b432;
@num-bg-tm: rgba(247,180,50,0.15);
@head-bg-tm: rgba(84,169,223,0.5);
@topMeun: #54a9df;

@level: rgba(84,169,223,1);
@level2: rgba(84,169,223,0.9);
@level3: rgba(84,169,223,0.8);
@level4: rgba(84,169,223,0.7);
@level5: rgba(84,169,223,0.6);
@level6: rgba(84,169,223,0.5);
@level7: rgba(84,169,223,0.4);
@level8: rgba(84,169,223,0.3);
@level9: rgba(84,169,223,0.2);
@level10: rgba(84,169,223,0.1);

//card
@blue-pink: #ff7676;

//hover
@hover-bg: #f6fbfd;
@hover-bg2: #eef6fc;
//@hover-bg: #eaf4fe;
@hover-border-bg: #dfedfe;

//table-hover
@table-hover-bg: #f5f9fd;
@table-border-bg: #c5d8fb;

@path: "blue-dark";
@canledar-bg:#ffa729;

// 显示隐藏
@one: inline-block;
@two: none;

@theme-color: #77D2FF; // 主题颜色
@table-td-gray: rgba(255,255,255,0.5); // table组件td字体颜色