@charset "utf-8";

//nav theme
@menu-bg-wrap: linear-gradient(to bottom,#67594D 0,#4C3F35 99%);
@menu-wrap:linear-gradient(to bottom,#121E2E 0,#121E2E 33%,#121E2E 66%,#121E2E 99%);
// @menu-bg: linear-gradient(to bottom,#041123 0,#041123 33%,#041123 66%,#041123 99%);
@menu-bg:#3D3732;
@menu-hover-bg: rgba(255,255,255,0.2);
@menu-select-bg: #041123;
@menu-second-bg: #fff;
@hover:#BF832E;
@menu-nav-list: linear-gradient(to right,#E5C494 0,#D1A15D 99%);
@menu-nav-font: #89ABFE;
@menu-nav-second: rgba(139,155,225,0);
@topMeun: #f7b432;
@card-border: #cbe5f5;
@table-theme: #f6f6f6;
@table-theme-even: #fafafb;

//head theme
@headBack: #fff;
@headNavColor: #444;
@headTitleColor: #777;
@headLineColor: #ccc;
@head-bg: #BF832E;
@tag-bg: #8B9BE1;
@num-bg: #f7b432;
@num-bg-tm: rgba(247,180,50,0.15);
@head-bg-tm: rgba(240,211,176,1);
@head-search: rgba(255, 255, 255,0);
@head-search-border: rgba(2, 1, 1, 0.06);

@level: rgba(191,131,46,1);
@level2: rgba(191,131,46,0.9);
@level3: rgba(191,131,46,0.8);
@level4: rgba(191,131,46,0.7);
@level5: rgba(191,131,46,0.6);
@level6: rgba(191,131,46,0.5);
@level7: rgba(191,131,46,0.4);
@level8: rgba(191,131,46,0.3);
@level9: rgba(191,131,46,0.2);
@level10: rgba(191,131,46,0.1);

//card
@blue-pink: #ff7676;

//hover
@hover-bg: #fff;
@hover-bg2: #eef6fc;
//@hover-bg: #eaf4fe;
@hover-border-bg: #dfedfe;

//table-hover
@table-hover-bg: #f5f9fd;
@table-border-bg: #c5d8fb;

@path: "blue-dark";
@canledar-bg:#ffa729;

// 显示隐藏
@one: inline-block;
@two: none;