@charset "utf-8";

//nav theme
@menu-bg-wrap: #182333;
@menu-bg: #06192f;
@menu-hover-bg: rgba(0, 0, 0, 0.15);
@menu-select-bg: #4673ae;
@menu-second-bg: #fff;
@menu-head-bg: #4673ae;

//head theme
@head-bg: #244FFF;
@tag-bg: #244FFF;
@num-bg: #f7b432;
@num-bg-tm: rgba(247,180,50,0.15);
@head-bg-tm: rgba(70,115,174,0.5);
@shadow-bg: rgba(70,115,174,0.2);
@shadow-bg2: rgba(70,115,174,0.4);
@head-bg-l: #08368D;
@head-bg-r: #58207A;
@c-color: #4a237d;

//card
@blue-pink: #ff7676;

//hover
@hover-bg: #f6f8fb;
@hover-bg2: #ecf1f7;
@hover-bg3: #dae6f5;
@hover-border-bg: #dfedfe;

//table-hover
@table-hover-bg: #f5f9fd;
@table-border-bg: #c5d8fb;

//table-hr
@table-hr-bg: rgba(69, 114, 172, 0.702);

@path: "blue-distant";

@rili-bg: #6190cd;
@cp-card-border: #c7d5e7;