@charset "utf-8";

//nav theme
@menu-bg-wrap: #3A3F52;
@menu-bg: #1F2230;
@menu-hover-bg: #2d68de;
@menu-select-bg: #fff;
@menu-second-bg: #fff;
@hover:#2d68de;
@menu-nav-list: rgba(247,180,50,0);
@menu-nav-font: #4e89ff;
@menu-nav-second: rgba(247,180,50,1);
@table-theme: #f6f6f6;
@table-theme-even: #fafafb;
@card-border: #cbe5f5;

//head theme
@headBack: #fff;
@headNavColor: #444;
@headTitleColor: #777;
@headLineColor: #ccc;
@head-bg: #2d68de;
@tag-bg: #2d68de;
@num-bg: #f7b432;
@num-bg-tm: rgba(247,180,50,0.15);
@head-bg-tm: rgba(45,222,222,0.5);
@topMeun: #2d68de;

@level: rgba(45,104,222,1);
@level2: rgba(45,104,222,0.9);
@level3: rgba(45,104,222,0.8);
@level4: rgba(45,104,222,0.7);
@level5: rgba(45,104,222,0.6);
@level6: rgba(45,104,222,0.5);
@level7: rgba(45,104,222,0.4);
@level8: rgba(45,104,222,0.3);
@level9: rgba(45,104,222,0.2);
@level10: rgba(45,104,222,0.1);

//card
@blue-pink: #ff7676;

//hover
@hover-bg: #f4f7fd;
@hover-bg2: #eaf0fc;
@hover-border-bg: #dfedfe;

//table-hover
@table-hover-bg: #f5f9fd;
@table-border-bg: #c5d8fb;

@path: "blue-tech";
@canledar-bg: #ffa729;

// 显示隐藏
@one: inline-block;
@two: none;

@theme-color: #4fbbfd; // 主题颜色