@charset "utf-8";

//nav theme
@menu-bg-wrap: #3A3F52;
@menu-bg: #1F2230;
@menu-hover-bg: #d03321;
@menu-select-bg: #fff;
@menu-second-bg: #fff;
@hover:#d03321;
@menu-nav-list: linear-gradient(to right,#d03321 0,#b31d0c 99%);
@menu-nav-font: #d03321;
@menu-nav-second: rgba(208,51,33,1);
@table-theme: #f6f6f6;
@table-theme-even: #fafafb;
@card-border: #ffeae8;

//head theme
@headBack: #fff;
@headNavColor: #444;
@headTitleColor: #777;
@headLineColor: #ccc;
@head-bg: #d03321;
@tag-bg: #f0817b;
@num-bg: #d03321;
@num-bg-tm: rgba(226,60,57,0.15);
@head-bg-tm: rgba(226,60,57,0.5);
@topMeun: #d03321;

@level: rgba(208,51,33,1);
@level2: rgba(208,51,33,0.9);
@level3: rgba(208,51,33,0.8);
@level4: rgba(208,51,33,0.7);
@level5: rgba(208,51,33,0.6);
@level6: rgba(208,51,33,0.5);
@level7: rgba(208,51,33,0.4);
@level8: rgba(208,51,33,0.3);
@level9: rgba(208,51,33,0.2);
@level10: rgba(208,51,33,0.1);

//card
@blue-pink: #ffa800;

//hover
@hover-bg: #fef5f5;
@hover-bg2: #fcebeb;
@hover-border-bg: #dfedfe;

//table-hover
@table-hover-bg: #fbf8f8;
@table-border-bg: #c5d8fb;

@path: "default-dark";
@canledar-bg:#2d68de;

// 显示隐藏
@one: inline-block;
@two: none;

// theme
@theme-color: #CD0909; // 主题颜色