@charset "utf-8";

//nav theme
@menu-bg-wrap: #182333;
@menu-bg: #06192f;
@menu-hover-bg: rgba(0, 0, 0, 0.15);
@menu-select-bg: #3cd0cc;
@menu-second-bg: #fff;
@menu-head-bg: #3cd0cc;

//head theme
@head-bg: #3cd0cc;
@tag-bg: #3cd0cc;
@num-bg: #3cd0cc;
@head-bg-tm: rgba(60,208,204,0.5);
@shadow-bg: rgba(60,208,204,0.2);
@head-bg-l: #0260C6;
@head-bg-r: #592DB5;
//card
@blue-pink: #ff7676;

//hover
@hover-bg: #eaf4fe;
@hover-border-bg: #dfedfe;

//table-hover
@table-hover-bg: #f5f9fd;
@table-border-bg: #c5d8fb;

@path: "green-dark";