@charset "utf-8";

//nav theme
@menu-bg-wrap: #3A3F52;
@menu-bg: #1F2230;
@menu-hover-bg: #ed6f67;
@menu-select-bg: #fff;
@menu-second-bg: #fff;
@hover:#ed6f67;
@menu-nav-list: rgba(237,111,103,0);
@menu-nav-font: #ff5c51;
@menu-nav-second: rgba(237,111,103,1);
@table-theme: #f6f6f6;
@table-theme-even: #fafafb;
@card-border: #ffeae8;

//head theme
@headBack: #fff;
@headNavColor: #444;
@headTitleColor: #777;
@headLineColor: #ccc;
@head-bg: #ed6f67;
@tag-bg: #ed6f67;
@num-bg: #ed6f67;
@num-bg-tm: rgba(237,111,103,0.15);
@head-bg-tm: rgba(237,111,103,0.5);
@topMeun: #ed6f67;

@level: rgba(237,111,103,1);
@level2: rgba(237,111,103,0.9);
@level3: rgba(237,111,103,0.8);
@level4: rgba(237,111,103,0.7);
@level5: rgba(237,111,103,0.6);
@level6: rgba(237,111,103,0.5);
@level7: rgba(237,111,103,0.4);
@level8: rgba(237,111,103,0.3);
@level9: rgba(237,111,103,0.2);
@level10: rgba(237,111,103,0.1);

//card
@blue-pink: #2daae4;

//hover
@hover-bg: #fdf7f7;
@hover-bg2: #fdf0f0;
@hover-border-bg: #dfedfe;

//table-hover
@table-hover-bg: #f5f9fd;
@table-border-bg: #c5d8fb;

@path: "orange-dark";
@canledar-bg:#2d68de;

// 显示隐藏
@one: inline-block;
@two: none;