@charset "utf-8";

//nav theme
@menu-bg-wrap: #182333;
@menu-bg: #06192f;
@menu-hover-bg: rgba(0, 0, 0, 0.15);
@menu-select-bg: #ed6f67;
@menu-second-bg: #fff;
@menu-head-bg: #ed6f67;

//head theme
@head-bg: #ed6f67;
@tag-bg: #ed6f67;
@num-bg: #ed6f67;
@num-bg-tm: rgba(237,111,103,0.15);
@head-bg-tm: rgba(237,111,103,0.5);
@shadow-bg: rgba(237,111,103,0.2);
@shadow-bg2: rgba(237,111,103,0.4);
@head-bg-l: #E1554F;
@head-bg-r: #870086;
@c-color: #970f7c;
//card
@blue-pink: #2daae4;

//hover
@hover-bg: #fdf7f7;
@hover-bg2: #fdf0f0;
@hover-bg3: #ffe0e0;
@hover-border-bg: #dfedfe;

//table-hover
@table-hover-bg: #f5f9fd;
@table-border-bg: #c5d8fb;

//table-hr
@table-hr-bg: rgba(234, 110, 102, 0.702);

@path: "orange-dark";

@rili-bg: #f6938d;
@cp-card-border: #fad4d1;