@import './theme/index.less';

html,
body,
:global(#root) {
  height: 100%;
}

.globalSpin {
  width: 100%;
  margin: 40px 0 !important;
}
:global(.echarts-for-react) {
  & > object {
    visibility: hidden\0;
  }
}

:global(.ant-tree-title>.inoneline) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 8em !important;
  display: block;
}
