<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>产品中心</title>
  <script type="text/javascript" src="EMM_API.js"></script>
  <!-- <script>
    // 引入第三方定位控件,避免第三方控件因为故障而导致页面阻塞
    var script=document.createElement("script");
    script.type="text/javascript";
    script.src="http://pv.sohu.com/cityjson?ie=utf-8";
    // script.src="http://int.dpool.sina.com.cn/iplookup/iplookup.php?format=js";
    document.getElementsByTagName("head")[0].appendChild(script);
  </script> -->
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/css/swiper.min.css"> -->
</head>
<body>
  <div id="root"></div>
</body>
</html>
