.pagination {

  :global(.ant-pagination-item) {
    border-radius: 1px;
  }

  :global(.ant-pagination-item-active a) {
    color: #244FFF;
  }

  :global(.ant-pagination-item-active:hover a) {
    color: #244FFF;
  }

  :global(.ant-pagination-item:hover a) {
    color: #244FFF;
  }

  :global(.ant-pagination-item-active) {
    border-color: #244FFF;
  }

  :global(.ant-pagination-next:hover a) {
    color: #244FFF;
  }

  :global(.ant-pagination-prev:hover a) {
    color: #244FFF;
  }

}

.o_pagination {
  padding: 16px;
  display: flex;
  justify-content: flex-end;
}


.columnsTtxt {
  color: #4B516A;
  text-align: center;
}

.tabelHasPerColor {
  :global(.ant-table-selection-column) {
    text-align: center !important;
  }

  :global(.ant-table-thead>tr>th) {
    height: 48px !important;
    position: relative;
  }

  :global(.ant-table .ant-table-tbody > tr > td) {
    height: 48px !important;
    padding: 9px 10px !important;
  }

  :global(table) {
    border-collapse: collapse !important;
    border-spacing: 0
  }

  :global(.ant-table .ant-table-thead > tr > th) {
    height: 48px !important;
    padding: 9px 10px !important;
    background: #F3F4F7;
  }

  :global(.ant-table-body) {
    overflow-x: auto !important
  }
}

.tabelHasArrow {
  transform: rotate(180deg);
}

.reLostBtn {
  width: 60px;
  height: 32px;
  margin-right: 16px;
  padding: 0px;
  border-radius: 2px;

}

.seaLostBtn {
  width: 60px;
  height: 32px;
  padding: 0px;
  border-radius: 2px;
}

.p:hover {
  border-color: #244fff;
}

.p:focus {
  border-color: #244fff;
}

.sel {
  :global(.ant-select-selection__rendered) {
    line-height: 32px !important;
  }
}

.from {
  :global(.ant-row > div) {
    padding-left: 0 !important;
  }
}

.texts {
  float: left;
  line-height: 42px;
  color: #1A2243;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;

  .tip {
    width: 4px;
    height: 15px;
    background: #244FFF;
    border-radius: 1px
  }

  .ml {
    margin-left: 4px;
    font-family: PingFangSC-Medium, PingFang SC;
  }
}