.gouzi{
  :global{
    margin-top: 2px !important;
    .ant-select-selection__choice{
      margin: 3px !important;
    }
    .ant-select-selection--multiple > ul > li{
      height: 23px !important;
      line-height: 28px !important;
      display: flex;
      align-items: center;
    }
    .ant-select-selection--multiple > ul > li:nth-child(2){
      height: 23px !important;
      line-height: 28px !important;
      display: flex;
      flex-direction: row-reverse !important;
      background-color: transparent !important;
      border-color: transparent;
      float: right;
      box-sizing: border-box;
      padding-right: 5px;
    }
    .ant-select-selection--multiple > ul > li:nth-child(2) span{
      float: right;
    }
    .ant-select-selection__choice{
      background-color: #F0F1F5 !important;
    }
    .ant-select-search__field{
      margin-left: 5px !important;
      padding-bottom: 8px !important;
    }
    .ant-select-selection__clear{
      top: 16px !important;
    }
  }
}
.m-form-item .m-form-bss-item .maomao{
  :global{
    .ant-form-item-label label{
      line-height: 32px !important;
    }
  }
}
.adwdawdawdawdawd{
  :global(.ant-col){
    :global(.ant-form-item-label){
      :global(label){
        line-height: 32px !important;
      }
    }
  }
}
