.m_Divider {
    &:before {
      border-top-color: #fff !important;
    }
    &:after {
      border-top-color: #fff !important;
    }
  }
.m_Menu {
  :global(.ant-menu-submenu-arrow:not(:first-child)){
    display: none;;
  }
}