.rightScrollBars {
  >div {
    &:last-child {
      >div {
        background-color: rgba(255, 255, 255, 0.2) !important;
      }
    }
  }
}
.m_menu{
  &:global(.ant-menu-inline-collapsed){
    width: 50px;
  }
}

.mPoint {
  // margin: 1rem;
  position: relative;
  // &::before {
  //   content: '·';
  //   display: inline-block;
  //   font-size: 27px;
  //   position: absolute;
  //   font-weight: 700;
  //   left: -14px;
  //   top: -15px;
  // }
}
.isHover{
  &:hover{
    i {
      color: black!important;
    }
    span {
      color: black!important;
    }
    
  }
}
