.selectedTag{
  :global(.anticon-cross){
    font-size: 1rem;
    color: #fff;
    margin-left: 0.5rem;
    box-sizing: border-box;
    font-family: "iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    line-height: 2rem;
    white-space: normal;
  }
}
