.form_style{
  padding: 9px 0;
  color: #61698c;
  display: flex;
  // justify-content: space-between;
}

.formItem {
  :global(.ant-form-item-label) {
    width: auto !important;
  }
}

.switch {
  background-color: #244FFF !important;
}

.hover {
  cursor: pointer;
  &:hover {
    background-color: #F0F1F5;
  }
}

.iframe {
  border: none;
}
