
.mulSelect{
  // transform: scaleY(0.94);
  :global(.ant-select-search__field){
    margin-top: -5px;
  }
  :global(.ant-select-selection--multiple){
    min-height: 33px;
    width: 250px;
  }
  :global(.ant-select-selection__rendered){
    line-height: 30px;
    height: 30px;
    li{
      height: 25px !important;
      line-height: 25px !important;
      margin: 0 !important;
      margin-top: 2px !important;
      margin-right: 3px !important;
    }
  }
  :global(.ant-select-selection__choice){
    /* border: 0 !important;
    background: #FFF !important;
    margin: 0 !important; */
    padding-left: 3px !important;
  }
}
