.form{
  display: flex;
  background-color: #fff;
  .formItem{
    height: 70px;
    display: flex;
    align-items: center;
    margin-right: 36px;
    &:first-of-type .formItemLabel{
      padding-left: 12px;
    }
    .formItemLabel{
      padding-right: 8px;
      white-space: nowrap;
      font-size: 14px;
      color: #1A2243;
    }
    :global(.ant-btn){
      width: 62px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      span{
        font-size: 14px;
      }
    }
  }
}
.channelTable{
  background-color: #fff;
  padding: 0 12px;
  .tableBtn{
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 10px;
    .addBtn{
      width: 60px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 12px;
      span{
        font-size: 14px;
      }
    }
  }
  :global(.ant-table-selection-column) {
    text-align: center !important;
  }
  :global(.ant-table-thead>tr>th){
    height: 48px !important;
    position: relative;
    &::after {
      display:block;
      content: '';
      width: 1px;
      height: calc(100% - 26px);
      background: #E0E2E8;
      position: absolute;
      right: 0;
      top: 13px;
    }
    &:last-of-type::after{
      display: none;
    }
  }
  :global(.ant-table .ant-table-tbody > tr > td) {
    height: 48px !important;
  }
}
.tableBottom{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 10px 0px rgba(97, 102, 114, 0.09);
  border-radius: 1px;
  .btnBox{
    width: 100%;
    height: 52px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    .bannedBtn{
      width: 106px;
      height: 30px;
      font-size:14px;
      border-radius: 1px;
      border: 0;
    }
    .deactiveBtn{
      background: #D1D5E6;
      color: #959CBA;
      :global(.ant-btn.disabled.active){
        background-color:  #959CBA;
      }
    }
    .activeBtn{
      background: #244FFF;
      color: #FFFFFF;
      box-shadow: 0px 2px 14px 0px rgba(0, 26, 78, 0.14);
      &:hover{
        background: #2047E6;;
      }
    }
  }
 
}

.selectHeight{
  :global(.ant-input:hover){
    border-color :#244fff !important;
  }
  :global(.ant-input:focus){
      border-color :#244fff !important;
      box-shadow: none;
  }
  &:focus{
      :global(.ant-calendar-picker-input){
        &:not(.ant-input-disabled){
          box-shadow: none !important;
          border-color: #244fff !important;
        }
    }
  }
  :global(.ant-calendar-picker-input){
    &:not(.ant-input-disabled){
      box-shadow: none;
      border-color: #D1D5E6;
    }
  }
  :global(.ant-calendar-range-picker-input){
    &::-webkit-input-placeholder {
      color: #959CBA;
    }
    input::-moz-input-placeholder {
      color: #959CBA;
    }
    input::-ms-input-placeholder {
      color: #959CBA;
    }
  }
  :global(.ant-select-selection__placeholder){
    width: 160px !important;
    margin-left: 3px;
  }
  :global(.ant-select-selection){
    border-radius: 1px;
    height: 30px;
  }
  :global(.ant-select-selection-selected-value){
    color: #1A2243;
  }
  :global(.ant-select-selection__rendered){
    height: 30px;
  }
  :global(.ant-select-search__field__wrap){
    display: flex;
    align-items: center;
  }
  :global(.ant-select-selection-selected-value){
    height: 30px;
    margin-top: -1px;
    display: flex !important;
    align-items: center !important;
  }
  :global(.ant-calendar-picker-input ){
    height: 30px;
    display: flex !important;
  }
}
.smallPagination {
  font-size: 12px !important;
  padding-bottom:9px !important;
  margin-bottom: 60px !important;
  :global(.ant-pagination-item a) {
    padding: 0;
  }
  :global(.ant-pagination.mini .ant-pagination-options) {
    margin-left: 0;
  }
  :global(.ant-select-sm .ant-select-selection__rendered) {
    font-size: 12px !important;
    margin-left: 0;
    margin-right: 10px;
  }
  :global(.ant-pagination-options-size-changer.ant-select) {
    margin-right: 2px;
  }
  :global(.ant-pagination-options-quick-jumper input) {
    margin: 0 2px;
    padding: 1px 2px !important;
    width: 32px !important;
  }
  :global(.ant-select .ant-select-arrow::after) {
    left: 8px;
    font-size: 12px;
  }
  :global(.ant-select .ant-select-arrow) {
    right: 2px;
    top: 12px;
  }
  :global(.ant-select-dropdown) {
    // top: -115px !important;
  }
  :global(.ant-select-sm .ant-select-selection--single) {
    padding: 0 5px;
  }
  :global(.ant-pagination-item-link-icon) {
    color: #244FFF !important;
  }
}
.pagination{
  text-align: right;
  :global(.ant-pagination-item-active){
    border: 1px solid #244FFF !important;
    background: #FFF !important;
    a {
      color: #244FFF !important;
    }
  }
  :global(.ant-pagination-item:hover:not(.ant-pagination-item-active)){
    // border-color :#244fff !important;
    a:hover{
      color:#244fff !important;
    }
  }
  :global(.ant-pagination-options){
    :global(.ant-select-selection--single:hover){
      border-color :#244fff !important;
    }
    :global(.ant-pagination-options-quick-jumper){
       input:hover,input:focus{
         border-color :#244fff !important;
         box-shadow: none;
       }
    }
    :global(.ant-select-selection--single:focus){
      border-color :#244fff !important;
      box-shadow: none;
    }

  }
  :global(.ant-pagination-item-link:hover){
      border-color :#244fff !important;
      color:#244fff !important;
  }
}
.logModal{
  :global(.ant-modal-body){
    padding: 0;
  }
}
.table {
  :global(.ant-table-selection-column) {
    text-align: center !important;
  }
  :global(.ant-table-thead>tr>th){
    height: 48px !important;
    position: relative;
    &::after {
      display:block;
      content: '';
      width: 1px;
      height: calc(100% - 26px);
      background: #E0E2E8;
      position: absolute;
      right: 0;
      top: 13px;
    }
  }
  :global(.ant-table .ant-table-tbody > tr > td) {
    height: 48px !important;
  }
  // tr {
  //   height: 48px !important;
  //   th {
  //     height: 48px !important;
  //   }
  //   td {
  //     height: 48px !important;
  //   }
  // }
}
.departmentModal{
  :global(.ant-btn) {
    color: #61698C;
    border-radius: 1px;
    border: 1px solid #D1D5E6;
    &:hover {
      color: #244FFF;
      border-color: #244FFF;
    }
  }
  :global(.ant-btn-primary) {
    border-radius: 1px;
    background-color: #244FFF;
    color: #FFFFFF;
    border: 0;
    box-shadow: 0px 2px 14px 0px rgba(0, 26, 78, 0.25);
    &:hover {
      background-color: #1d45e4;
      color: #fff;
    }
  }
}
.calendar{
  :global(.ant-calendar-range .ant-calendar-input){
    color:#61698C !important
  }
}
